In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df1 = pd.read_csv("records_final_series_test_final_bowlers_v6.csv")

In [3]:
df1.head()

,Player,Country,Mat,Overs,Maidens,Runs,Wickets,Best,5w,10w,Avg,S/R,E/R,Series_Code,H/A,Decade_Index
0,Garrett T W,Australia,2,26.1,12,48,2,2|22,0,0,24.00,52.50,2.74,1,Home,0
1,Gregory D W,Australia,2,5.0,1,9,0,0|0,0,0,NaN,NaN,2.70,1,Home,0
2,Hodges J H,Australia,2,34.0,9,84,6,2|7,0,0,14.00,22.67,3.71,1,Home,0
3,Kendall T,Australia,2,140.3,56,215,14,7|55,1,0,15.36,40.21,2.29,1,Home,0
4,Midwinter W E,Australia,2,107.1,44,156,8,5|78,1,0,19.50,53.63,2.18,1,Home,0

In [4]:
#df1.sort_values(['Series_Code', 'Mat'], ascending=[True, False], inplace=True)

In [5]:
#df1

In [6]:
series = df1['Decade_Index'].values
number, series_unique = np.unique(series, return_inverse = True)

In [7]:
players = df1['Player'].values
player_names, player_indices = np.unique(players, return_index = True)
player_dict_temp_3 = {}
for i in df1.index:
    if df1["Player"][i] in player_dict_temp_3.keys():
        player_dict_temp_3[df1["Player"][i]] = player_dict_temp_3[df1["Player"][i]] + [i]
    else:
        player_dict_temp_3[df1["Player"][i]] = [i]

In [8]:
series_codes = df1['Series_Code'].values
series_list, series_occurances, series_code = np.unique(series_codes, return_index=True, return_inverse = True)
series_code

array([  0,   0,   0, ..., 722, 722, 722], dtype=int64)

In [9]:
series_to_number = {'Australia':0, 'Pakistan':1, 'New Zealand':2, 'West Indies':3, 'England':4, 'India' :5, 'Sri Lanka':6, 'Bangladesh':7, 'Zimbabwe':8, 'South Africa':9} 
opposition_country =[]
series_country = []
j = 0
for i in series_occurances:
    home = 0
    away = 0
    j = i
    while 1 != 0:
        #print(j)
        if df1['H/A'][j] == 'Home' and home == 0:
            #print(df['Country'][j])
            series_country.append(series_to_number[df1['Country'][j]]) 
            home = home + 1
        elif df1['H/A'][j] == 'Away' and away == 0:    
            #print(df['Country'][j])
            opposition_country.append(series_to_number[df1['Country'][j]]) 
            away = away + 1
        elif home == 1 and away == 1:
            #print("hello")
            break
        j = j + 1

In [10]:
series_country

[0,
 0,
 4,
 0,
 4,
 0,
 4,
 0,
 4,
 0,
 0,
 4,
 9,
 4,
 0,
 9,
 4,
 0,
 9,
 4,
 0,
 9,
 4,
 0,
 4,
 9,
 0,
 4,
 9,
 4,
 0,
 4,
 9,
 0,
 0,
 9,
 0,
 4,
 9,
 9,
 4,
 0,
 4,
 9,
 4,
 0,
 4,
 2,
 3,
 4,
 0,
 9,
 4,
 0,
 2,
 4,
 0,
 2,
 4,
 5,
 4,
 3,
 4,
 9,
 4,
 0,
 4,
 4,
 9,
 4,
 2,
 4,
 0,
 2,
 4,
 0,
 3,
 4,
 5,
 9,
 4,
 9,
 4,
 0,
 2,
 4,
 5,
 0,
 2,
 4,
 5,
 0,
 3,
 2,
 4,
 9,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 1,
 5,
 2,
 4,
 1,
 5,
 9,
 4,
 9,
 3,
 4,
 5,
 0,
 1,
 2,
 4,
 1,
 5,
 3,
 4,
 5,
 0,
 4,
 1,
 5,
 9,
 3,
 4,
 0,
 2,
 4,
 0,
 5,
 2,
 4,
 5,
 1,
 0,
 9,
 2,
 5,
 3,
 1,
 4,
 4,
 0,
 2,
 4,
 5,
 9,
 4,
 4,
 0,
 3,
 2,
 4,
 0,
 1,
 2,
 4,
 4,
 5,
 1,
 5,
 9,
 0,
 3,
 2,
 4,
 4,
 3,
 4,
 5,
 0,
 2,
 3,
 1,
 4,
 4,
 0,
 3,
 2,
 4,
 4,
 5,
 0,
 1,
 2,
 4,
 0,
 2,
 3,
 4,
 1,
 5,
 5,
 0,
 2,
 3,
 0,
 4,
 0,
 1,
 2,
 3,
 4,
 4,
 1,
 0,
 5,
 2,
 0,
 4,
 5,
 5,
 0,
 0,
 2,
 5,
 1,
 4,
 4,
 1,
 0,
 0,
 3,
 2,
 4,
 0,
 5,
 0,
 6,
 2,
 1,
 4,
 4,
 5,
 1,
 0,
 1,
 3,
 2,
 6,
 4,
 5,
 5,
 0,
 2,
 1,
 3,
 6,
 4,
 4,
 1,
 0,
 1,
 5,
 2,
 3,
 4,
 6,
 1,
 0,
 0,
 2,
 3,
 6,
 4,
 4,
 5,
 1,
 0,
 5,
 5,
 2,
 6,
 4,
 5,
 1,
 0,
 0,
 0,
 2,
 3,
 4,
 4,
 1,
 5,
 0,
 2,
 3,
 4,
 1,
 0,
 0,
 0,
 2,
 3,
 2,
 4,
 4,
 1,
 1,
 0,
 5,
 2,
 3,
 4,
 4,
 0,
 1,
 2,
 3,
 4,
 6,
 8,
 8,
 9,
 0,
 6,
 2,
 5,
 2,
 5,
 6,
 3,
 4,
 6,
 6,
 0,
 1,
 6,
 0,
 5,
 2,
 3,
 9,
 2,
 4,
 4,
 6,
 1,
 8,
 5,
 0,
 9,
 9,
 8,
 2,
 2,
 3,
 2,
 4,
 1,
 0,
 5,
 9,
 8,
 0,
 2,
 2,
 3,
 4,
 4,
 6,
 5,
 1,
 0,
 1,
 5,
 8,
 9,
 2,
 9,
 2,
 3,
 6,
 4,
 3,
 6,
 8,
 1,
 0,
 5,
 1,
 0,
 6,
 3,
 9,
 2,
 5,
 8,
 9,
 6,
 4,
 4,
 1,
 0,
 9,
 1,
 8,
 2,
 5,
 2,
 3,
 4,
 6,
 5,
 8,
 9,
 0,
 8,
 9,
 0,
 2,
 8,
 5,
 1,
 2,
 3,
 3,
 4,
 4,
 6,
 6,
 8,
 7,
 1,
 9,
 5,
 0,
 9,
 2,
 6,
 5,
 2,
 3,
 8,
 4,
 8,
 4,
 8,
 6,
 8,
 9,
 0,
 0,
 7,
 6,
 5,
 2,
 6,
 5,
 2,
 3,
 7,
 1,
 9,
 1,
 4,
 3,
 6,
 4,
 1,
 5,
 9,
 0,
 9,
 8,
 7,
 2,
 9,
 3,
 7,
 6,
 4,
 3,
 0,
 4,
 1,
 5,
 0,
 1,
 7,
 8,
 6,
 0,
 9,
 2,
 8,
 6,
 2,
 3,
 1,
 8,
 4,
 3,
 0,
 4,
 6,
 5,
 7,
 1,
 0,
 5,
 7,
 0,
 9,
 7,
 9,
 5,
 2,
 3,
 2,
 4,
 3,
 6,
 4,
 8,
 6,
 8,
 0,
 1,
 5,
 0,
 1,
 7,
 5,
 2,
 9,
 6,
 7,
 9,
 4,
 3,
 4,
 0,
 6,
 1,
 0,
 2,
 9,
 9,
 4,
 7,
 6,
 4,
 1,
 0,
 9,
 5,
 6,
 0,
 9,
 2,
 7,
 2,
 3,
 5,
 4,
 3,
 4,
 6,
 5,
 7,
 9,
 0,
 2,
 5,
 0,
 7,
 3,
 1,
 9,
 2,
 4,
 6,
 4,
 3,
 6,
 5,
 2,
 0,
 9,
 0,
 7,
 5,
 2,
 7,
 2,
 4,
 3,
 1,
 6,
 4,
 5,
 5,
 1,
 6,
 0,
 9,
 2,
 3,
 4,
 3,
 4,
 8,
 6,
 8,
 1,
 7,
 8,
 5,
 9,
 0,
 7,
 9,
 0,
 1,
 2,
 2,
 6,
 3,
 4,
 6,
 4,
 3,
 5,
 0,
 7,
 5,
 6,
 0,
 9,
 9,
 5,
 2,
 6,
 3,
 8,
 4,
 4,
 8,
 7,
 1,
 5,
 0,
 2,
 9,
 1,
 7,
 2,
 9,
 3,
 4,
 4,
 6,
 6,
 8,
 3,
 1,
 7,
 1,
 0,
 9,
 2,
 3,
 7,
 4,
 3,
 7,
 6,
 4,
 7,
 6,
 1,
 6,
 0,
 5,
 0,
 2,
 9,
 2,
 4,
 4,
 3,
 6,
 8,
 9,
 5,
 1,
 7,
 8,
 0,
 5,
 2,
 0,
 9,
 2,
 5,
 5,
 6,
 2,
 3,
 4,
 6,
 6,
 4,
 7,
 1,
 9,
 8,
 5,
 0,
 2,
 9,
 9,
 7,
 9,
 2]

In [11]:
len(series_country)

723

In [12]:
trps = np.zeros(723)
for i in df1.index:
    avg = df1["Avg"][i]
    if not np.isnan(avg):
        trps[series_code[i]] += df1["Runs"][i]

In [13]:
arpspc = np.zeros(10)
tmpc = np.zeros(10)
for i in range(len(trps)):
    tmpc[series_country[i]] += df1['Mat'][series_occurances[i]]
    arpspc[series_country[i]] += trps[i]

In [14]:
arpc=arpspc/tmpc

In [15]:
avr_average = np.average(arpc)

In [16]:
weights_arpc = np.average(arpc)/arpc

In [17]:
weights_arpc

array([0.90389964, 1.0380722 , 1.1192837 , 0.85252931, 0.95446444,
       0.96980682, 1.04872389, 1.03222664, 1.18738037, 0.97981671])

In [18]:
weighted_runs_arr = []
for i in df1.index:
    weighted_runs_arr.append(df1['Runs'][i]*weights_arpc[series_country[series_code[i]]])
weighted_runs_arr

[43.38718257177601,
 8.135096732208002,
 75.92756950060802,
 194.33842193608007,
 141.00834335827204,
 100.33285969723202,
 28.020888744272007,
 13.558494553680005,
 32.54038692883201,
 117.50695279856004,
 113.89135425091203,
 131.96934698915203,
 96.71726114958403,
 111.17965534017603,
 72.31197095296002,
 24.40529019662401,
 32.54038692883201,
 99.42896006032002,
 61.465175310016015,
 12.654594916768003,
 0.0,
 28.020888744272007,
 5.423397821472001,
 23.501390559712007,
 92.19776296502403,
 16.225895447617933,
 64.90358179047173,
 21.952682076188967,
 139.3518079618952,
 1.9089288761903451,
 60.13125959999587,
 125.0348413904676,
 65.8580462285669,
 105.94555262856416,
 87.81072830475587,
 10.499108819046898,
 21.952682076188967,
 144.12413015237107,
 31.63648729192001,
 122.02645098312003,
 180.77992738240005,
 232.30220668638407,
 331.7311667467041,
 48.81058039324802,
 27.11698910736001,
 13.558494553680005,
 245.86070124006406,
 471.83561046806415,
 115.69915352473603,
 55.13787785163201,
 301.90247872860806,
 162.70193464416005,
 231.39830704947207,
 68.69637240531202,
 162.70193464416005,
 43.905364152377935,
 14.316966571427589,
 67.76697510475725,
 15.271431009522761,
 8.590179942856553,
 20.043753199998623,
 41.04197083809242,
 30.542862019045522,
 85.90179942856552,
 15.366293827504004,
 151.85513900121603,
 148.23954045356805,
 19.885792012064005,
 14.462394190592004,
 258.51529615683205,
 266.65039288904006,
 190.72282338843206,
 103.94845824488003,
 189.81892375152006,
 28.020888744272007,
 91.29386332811202,
 24.40529019662401,
 101.23675933414403,
 62.369074946928016,
 157.48663228570348,
 101.1732304380883,
 65.8580462285669,
 36.269648647616556,
 14.316966571427589,
 18.134824323808278,
 267.2500426666483,
 34.36071977142621,
 19.08928876190345,
 1.9089288761903451,
 128.8526991428483,
 185.1661009904635,
 58.22233072380553,
 134.57948577141934,
 140.30627239999038,
 81.12947723808966,
 248.16075390474487,
 16.225895447617933,
 287.2937958666469,
 21.693591285888004,
 20.789691648976007,
 104.85235788179203,
 172.64483065019206,
 23.501390559712007,
 15.366293827504004,
 58.75347639928002,
 314.5570736453761,
 72.31197095296002,
 72.31197095296002,
 12.654594916768003,
 9.942896006032003,
 2.7116989107360006,
 65.98467349457601,
 154.56683791195204,
 21.693591285888004,
 8.135096732208002,
 276.5932888950721,
 101.23675933414403,
 87.67826478046402,
 280.2088874427201,
 263.93869397830406,
 133.77714626297603,
 11.750695279856004,
 225.07100959108806,
 407.6587362473121,
 266.65039288904006,
 90.67412161904139,
 50.58661521904415,
 125.98930582856278,
 20.998217638093795,
 182.30270767617796,
 71.58483285713794,
 118.3535903238014,
 62.99465291428139,
 17.180359885713106,
 41.04197083809242,
 211.89110525712832,
 223.34467851427038,
 1.9089288761903451,
 168.94020554284555,
 248.16075390474487,
 104.99108819046899,
 24.40529019662401,
 9.942896006032003,
 5.423397821472001,
 18.981892375152004,
 15.366293827504004,
 145.52784154283205,
 51.522279303984014,
 42.483282934864015,
 47.906680756336016,
 87.67826478046402,
 219.64761176961608,
 23.501390559712007,
 123.83425025694403,
 4.5194981845600015,
 35.25208583956801,
 78.63926841134402,
 3.615598547648001,
 93.10166260193603,
 47.002781119424014,
 52.426178940896015,
 63.94911735237656,
 89.71965718094621,
 159.39556116189382,
 137.44287908570485,
 172.75806329522624,
 3.8178577523806903,
 115.49019700951588,
 23.861610952379316,
 249.11521834284005,
 14.316966571427589,
 93.08258785891381,
 6.858717000130492,
 87.20368757308768,
 74.46607028713105,
 20.576151000391473,
 49.970652429522154,
 140.1137901455229,
 98.96148814473995,
 88.18350428739203,
 59.76881957256571,
 27.434868000521966,
 91.62858605713657,
 24.816075390474488,
 163.2134189142745,
 11.453573257142072,
 130.76162801903865,
 97.35537268570761,
 83.03840611428001,
 17.180359885713106,
 10.499108819046898,
 22.907146514284143,
 69.6759039809476,
 15.271431009522761,
 42.95089971428276,
 151.75984565713244,
 33.44428656574401,
 77.73536877443202,
 19.885792012064005,
 358.8481558540641,
 19.885792012064005,
 203.37741830520005,
 189.81892375152006,
 305.51807727625607,
 195.24232157299207,
 242.24510269241608,
 30.732587655008007,
 261.22699506756805,
 115.69915352473603,
 259.41919579374405,
 19.885792012064005,
 22.535784429000184,
 46.051385572304724,
 39.192668572174234,
 81.32478728726154,
 26.45505128621761,
 80.34497057295718,
 48.9908357152178,
 89.16332100169639,
 11.757800571652272,
 38.21285185786988,
 25.475234571913255,
 279.65808036188554,
 16.225895447617933,
 20.043753199998623,
 41.04197083809242,
 223.34467851427038,
 223.34467851427038,
 34.36071977142621,
 148.8964523428469,
 39.13304196190207,
 148.8964523428469,
 326.426837828549,
 24.816075390474488,
 149.8509167809421,
 72.53929729523311,
 223.34467851427038,
 300.65629799997936,
 34.34818620265601,
 50.61837966707201,
 68.69637240531202,
 741.1977022678402,
 2.7116989107360006,
 91.29386332811202,
 15.366293827504004,
 108.46795642944004,
 83.15876659590403,
 21.693591285888004,
 267.55429252595206,
 78.63926841134402,
 315.4609732822881,
 393.19634205672014,
 215.12811358505607,
 116.60305316164803,
 307.32587655008007,
 651.7116382135522,
 767.4107917382883,
 28.020888744272007,
 173.54873028710404,
 50.95046914382651,
 27.434868000521966,
 30.374318143435033,
 55.84955271534829,
 69.56698671560927,
 176.36700857478405,
 3.9192668572174236,
 183.22572557491455,
 36.25321842926117,
 38.21285185786988,
 238.0954615759585,
 155.7908575743926,
 96.02203800182689,
 27.434868000521966,
 82.30460400156589,
 7.838533714434847,
 198.90279300378424,
 63.688086429783134,
 126.39635614526192,
 117.39912588570623,
 23.861610952379316,
 58.22233072380553,
 201.3919964380814,
 59.1767951619007,
 21.952682076188967,
 49.632150780948976,
 50.58661521904415,
 419.00988832378073,
 8.590179942856553,
 65.8580462285669,
 272.02236485712416,
 198.5286031237959,
 154.62323897141795,
 76.3571550476138,
 323.5634445142635,
 256.70749688300805,
 499.85649921233613,
 193.43452229916807,
 213.32031431123207,
 348.0013602111201,
 285.6322852641921,
 483.58630574792016,
 438.39132390232015,
 148.23954045356805,
 486.2980046586561,
 274.7854896212481,
 134.68104589988803,
 8.135096732208002,
 701.4261182437122,
 28.92478838118401,
 97.62116078649603,
 28.92478838118401,
 124.4367227166532,
 30.374318143435033,
 121.49727257374013,
 187.14499243213197,
 9.798167143043559,
 182.2459088606102,
 7.838533714434847,
 87.20368757308768,
 71.52662014421799,
 215.5596771469583,
 28.414684714826322,
 194.00370943226247,
 222.3902140761752,
 50.58661521904415,
 51.54107965713932,
 20.998217638093795,
 2.863393314285518,
 35.315184209521384,
 141.26073683808553,
 306.3830846285504,
 59.1767951619007,
 271.067900419029,
 118.3535903238014,
 110.71787481904002,
 99.26430156189795,
 86.8562638666607,
 5.726786628571036,
 28.633933142855177,
 325.47237339045387,
 71.58483285713794,
 250.0696827809352,
 330.2446955809297,
 627.0831358285284,
 66.81251066666208,
 125.0348413904676,
 387.51256186664006,
 357.9241642856897,
 14.316966571427589,
 78.63926841134402,
 13.558494553680005,
 37.05988511339201,
 64.17687422075201,
 100.33285969723202,
 102.14065897105603,
 119.31475207238404,
 49.71448003016001,
 68.69637240531202,
 11.750695279856004,
 44.29108220868801,
 75.02366986369603,
 18.077992738240006,
 58.75347639928002,
 38.86768438721601,
 226.87880886491206,
 118.41085243547204,
 35.25208583956801,
 148.23954045356805,
 549.5709792424962,
 146.43174117974405,
 12.654594916768003,
 507.08769630763214,
 16.270193464416003,
 291.9595827225761,
 424.83282934864013,
 667.0779320410562,
 325.4038692883201,
 102.14065897105603,
 159.99023573342404,
 1.8077992738240005,
 94.49197937142209,
 200.43753199998625,
 198.5286031237959,
 199.48306756189106,
 24.816075390474488,
 196.61967424760556,
 320.70005119997796,
 48.677686342853804,
 117.39912588570623,
 46.76875746666346,
 55.35893740952001,
 102.12769487618347,
 293.020582495218,
 451.4616792190166,
 354.106306533309,
 96.40090824761243,
 195.9633428608712,
 438.95788800835146,
 69.56698671560927,
 46.051385572304724,
 81.32478728726154,
 459.5340390087429,
 47.03120228660909,
 19.596334286087117,
 125.41653943095756,
 112.67892214500093,
 170.48810828895793,
 97.9816714304356,
 161.66975786021874,
 172.44774171756663,
 124.4367227166532,
 171.46792500326228,
 142.81614263209605,
 135.58494553680003,
 7.231197095296002,
 266.65039288904006,
 265.74649325212806,
 141.00834335827204,
 159.99023573342404,
 296.4790809071361,
 243.14900232932806,
 359.7520554909761,
 20.789691648976007,
 429.35232753320014,
 364.2715536755361,
 324.4999696514081,
 75.92756950060802,
 407.6587362473121,
 71.40807131604802,
 441.1030228130561,
 204.25538975236694,
 73.49376173332828,
 191.84735205712968,
 264.3866493523628,
 25.77053982856966,
 90.67412161904139,
 202.3464608761766,
 191.84735205712968,
 18.134824323808278,
 299.7018335618842,
 107.8544815047545,
 513.5018676952028,
 407.55631506663866,
 81.12947723808966,
 109.76341038094485,
 486.776863428538,
 501.0938299999656,
 390.3759551809256,
 266.5101462907848,
 75.44588700143541,
 303.74318143435033,
 5.878900285826136,
 409.5633865792208,
 361.5523675783073,
 196.94315957517554,
 29.394501429130678,
 536.939559438787,
 315.50098200600263,
 257.6917958620456,
 112.67892214500093,
 27.434868000521966,
 457.5744055801342,
 219.47894400417573,
 16.65688414317405,
 94.49197937142209,
 257.7053982856966,
 39.13304196190207,
 82.08394167618484,
 176.57592104760693,
 7.6357155047613805,
 100.21876599999312,
 208.07324750474763,
 41.04197083809242,
 52.49554409523449,
 183.25717211427315,
 81.12947723808966,
 7.6357155047613805,
 281.5670092380759,
 121.21698363808692,
 326.3077689252321,
 385.06124532451213,
 6.327297458384002,
 88.58216441737602,
 240.43730341859208,
 270.26599143668807,
 271.16989107360007,
 647.1921400289922,
 565.8411727069122,
 79.54316804825602,
 417.6016322533441,
 670.6935305887042,
 566.7450723438242,
 11.750695279856004,
 56.945677125456015,
 380.5417471399521,
 324.51790895235865,
 230.98039401903176,
 74.44822617142346,
 269.1589715428387,
 39.13304196190207,
 22.907146514284143,
 332.15362445712003,
 17.180359885713106,
 14.316966571427589,
 94.49197937142209,
 89.71965718094621,
 230.98039401903176,
 105.94555262856416,
 18.134824323808278,
 35.315184209521384,
 279.65808036188554,
 348.379519904738,
 23.861610952379316,
 116.44466144761105,
 180.39377879998762,
 246.25182502855452,
 112.62680369523036,
 38.1785775238069,
 58.22233072380553,
 622.183613583266,
 23.515601143304544,
 46.051385572304724,
 107.77983857347915,
 53.88991928673958,
 62.70826971547878,
 33.3137682863481,
 149.91195728856644,
 138.15415671691417,
 14.697250714565339,
 767.1964873003107,
 112.67892214500093,
 43.11193542939166,
 164.60920800313178,
 581.031311582483,
 74.46607028713105,
 144.03305700274032,
 411.5230200078295,
 606.5065461543963,
 245.93399529039334,
 458.2771159143841,
 572.1684701652962,
 3.615598547648001,
 266.65039288904006,
 352.5208583956801,
 148.23954045356805,
 8.135096732208002,
 571.2645705283842,
 464.60441337276814,
 505.27989703380814,
 244.05290196624006,
 95.81336151267203,
 359.7520554909761,
 588.4386636297122,
 487.2019042955681,
 68.69637240531202,
 74.11977022678403,
 159.08633609651204,
 25.309189833536006,
 301.90247872860806,
 495.3370010277761,
 114.79525388782403,
 705.0417167913602,
 225.07100959108806,
 48.81058039324802,
 148.23954045356805,
 63.27297458384002,
 161.79803500724805,
 17.174093101328005,
 167.22143282872005,
 703.2339175175362,
 320.8843711037601,
 625.4985487431042,
 177.16432883475204,
 165.41363355489605,
 51.522279303984014,
 188.91502411460806,
 97.00185471613123,
 0.0,
 419.3615537222643,
 184.2055422892189,
 19.596334286087117,
 240.0550950045672,
 115.618372287914,
 16.65688414317405,
 94.06240457321817,
 23.515601143304544,
 104.84038843056608,
 262.5908794335674,
 233.1963780044367,
 90.14313771600074,
 67.60735328700056,
 525.1817588671348,
 74.46607028713105,
 127.37617285956627,
 234.17619471874107,
 212.62022700404523,
 222.4183941470888,
 191.0642592893494,
 0.9798167143043559,
 268.4697797193935,
 184.39552593004805,
 75.92756950060802,
 502.56819812307214,
 284.7283856272801,
 6.327297458384002,
 855.0890565187523,
 354.3286576695041,
 8.135096732208002,
 2.7116989107360006,
 158.18243645960004,
 379.6378475030401,
 370.5988511339201,
 216.03201322196807,
 69.60027204222402,
 14.462394190592004,
 423.02503007481613,
 605.6127567310401,
 221.45541104344005,
 107.56405679252804,
 32.54038692883201,
 479.06680756336016,
 332.15362445712003,
 129.80716358094347,
 106.90001706665933,
 83.99287055237518,
 20.043753199998623,
 62.040188476186216,
 20.998217638093795,
 135.5339502095145,
 30.542862019045522,
 400.8750639999725,
 31.497326457140694,
 82.08394167618484,
 102.12769487618347,
 236.7071806476028,
 63.94911735237656,
 202.3464608761766,
 37.22411308571173,
 526.8643698285352,
 128.8526991428483,
 28.633933142855177,
 379.8768463618787,
 637.5822446475753,
 29.58839758095035,
 24.816075390474488,
 357.63310072108993,
 322.3596990061331,
 82.30460400156589,
 0.9798167143043559,
 19.596334286087117,
 141.09360685982725,
 196.94315957517554,
 186.16517571782762,
 61.72845300117442,
 11.757800571652272,
 15.677067428869695,
 278.2679468624371,
 133.2550731453924,
 101.90093828765302,
 414.46247015074255,
 0.9798167143043559,
 363.512001006916,
 110.71928871639221,
 18.61651757178276,
 600.6276458685702,
 50.95046914382651,
 100.92112157334866,
 220.45876071848008,
 490.8881738664823,
 112.67892214500093,
 48.01101900091344,
 415.4422868650469,
 105.82020514487044,
 1.9596334286087118,
 0.0,
 409.5633865792208,
 200.86242643239297,
 325.2991491490462,
 586.9102118683091,
 319.42024886322,
 18.61651757178276,
 147.95232385995774,
 19.08928876190345,
 120.26251919999174,
 20.043753199998623,
 307.3375490666456,
 204.25538975236694,
 65.8580462285669,
 56.31340184761518,
 79.22054836189932,
 36.269648647616556,
 404.6929217523532,
 237.66164508569796,
 88.76519274285104,
 392.2848840571159,
 125.98930582856278,
 18.134824323808278,
 83.03840611428001,
 181.34824323808277,
 149.8509167809421,
 260.5687915999821,
 477.2322190475863,
 92.19776296502403,
 737.5821037201922,
 74.11977022678403,
 121.12255134620804,
 37.05988511339201,
 373.3105500446561,
 902.9957372750882,
 224.16710995417606,
 120.21865170929604,
 18.077992738240006,
 94.00556223884803,
 414.8899333426081,
 469.12391155732814,
 487.2019042955681,
 24.40529019662401,
 21.693591285888004,
 360.6559551278881,
 796.3355801194722,
 122.93035062003203,
 8.135096732208002,
 338.9623638420001,
 179.43931436189243,
 263.4321849142676,
 240.5250383999835,
 117.39912588570623,
 75.40269060951863,
 185.1661009904635,
 175.62145660951174,
 370.332201980927,
 60.13125959999587,
 46.76875746666346,
 10.499108819046898,
 284.43040255236144,
 395.14827737140143,
 205.2098541904621,
 565.0429473523421,
 260.5687915999821,
 135.5339502095145,
 459.5340390087429,
 14.697250714565339,
 6.858717000130492,
 38.21285185786988,
 228.29729443291492,
 160.68994114591436,
 16.65688414317405,
 539.8790095817001,
 44.09175214369601,
 157.75049100300131,
 7.838533714434847,
 506.565241295352,
 323.3395157204375,
 390.946869007438,
 176.36700857478405,
 390.946869007438,
 241.03491171887154,
 426.22027072239484,
 199.88260971808862,
 1.9596334286087118,
 109.73947200208787,
 288.24826030474213,
 98.30983712380278,
 135.5339502095145,
 108.80894594284968,
 5.726786628571036,
 234.79825177141245,
 50.58661521904415,
 119.30805476189657,
 250.0696827809352,
 240.5250383999835,
 238.61610952379314,
 29.58839758095035,
 98.30983712380278,
 101.1732304380883,
 195.24232157299207,
 401.3314387889281,
 94.00556223884803,
 128.35374844150402,
 925.5932281978883,
 296.4790809071361,
 174.45262992401604,
 276.5932888950721,
 69.60027204222402,
 14.462394190592004,
 65.08077385766401,
 315.4609732822881,
 162.70193464416005,
 170.83703137636806,
 431.16012680702414,
 259.41919579374405,
 9.038996369120003,
 654.4233371242882,
 9.942896006032003,
 630.0180469276642,
 686.9637240531202,
 36.269648647616556,
 6.681251066666208,
 75.40269060951863,
 6.681251066666208,
 113.58126813332554,
 522.0920476380594,
 180.39377879998762,
 90.67412161904139,
 177.53038548570208,
 50.58661521904415,
 75.40269060951863,
 317.8366578856925,
 178.48484992379727,
 126.94377026665795,
 71.58483285713794,
 326.426837828549,
 17.180359885713106,
 47.72322190475863,
 173.7125277333214,
 112.62680369523036,
 437.144712647589,
 302.5652268761697,
 107.8544815047545,
 420.9188171999711,
 453.370608095207,
 213.78318657299835,
 171.2504059982657,
 191.39751258629695,
 11.1928369933507,
 149.98401571089937,
 71.63415675744447,
 0.0,
 107.4512351361667,
 128.71762542353304,
 5.59641849667535,
 488.00769291009044,
 70.5148730581094,
 55.96418496675349,
 217.14103767100355,
 220.49888876900877,
 122.00192322752261,
 38.05564577739238,
 226.0953072656841,
 292.13304552645326,
 208.186768076323,
 64.79222793104535,
 138.96227832579464,
 423.7070694964413,
 80.99028491380669,
 7.672763833939581,
 92.92569532215714,
 161.1280405127312,
 14.492998352996986,
 433.0848919601452,
 65.64475724592752,
 4.262646574410878,
 119.3541040835046,
 12.787939723232634,
 87.8105194328641,
 318.8459637659337,
 66.4972865608097,
 188.40897858896082,
 7.672763833939581,
 27.28093807622962,
 5.115175889293054,
 448.43041962802437,
 77.58016765427799,
 6.820234519057405,
 306.91055335758324,
 61.38211067151665,
 386.19577964162556,
 205.45956488660434,
 62.234639986398825,
 497.8771198911906,
 106.56616436027196,
 109.76341038094485,
 90.67412161904139,
 46.76875746666346,
 288.24826030474213,
 278.7036159237904,
 90.67412161904139,
 31.497326457140694,
 337.8804110856911,
 322.60898007616834,
 547.8625874666291,
 223.34467851427038,
 158.44109672379864,
 36.269648647616556,
 55.35893740952001,
 62.99465291428139,
 0.9544644380951726,
 319.7455867618828,
 882.8796052380346,
 449.5527503428263,
 210.93664081903313,
 565.9974117904374,
 13.558494553680005,
 186.20332520387205,
 536.0124846888161,
 153.66293827504003,
 291.9595827225761,
 113.89135425091203,
 140.10444372136004,
 75.92756950060802,
 64.17687422075201,
 367.8871522231841,
 316.3648729192001,
 0.9038996369120003,
 355.2325573064161,
 404.9470373365761,
 404.9470373365761,
 28.92478838118401,
 108.7596552877835,
 228.29729443291492,
 107.77983857347915,
 16.65688414317405,
 46.051385572304724,
 148.9321405742621,
 400.74503615048155,
 37.23303514356552,
 40.17248528647859,
 404.664303007699,
 41.152302000782946,
 6.858717000130492,
 12.737617285956627,
 22.535784429000184,
 366.4514511498291,
 69.56698671560927,
 235.15601143304542,
 131.2954397167837,
 456.59458886582985,
 334.11749957778534,
 549.6771767247436,
 301.78354800574164,
 39.192668572174234,
 123.12591251427726,
 85.90179942856552,
 64.90358179047173,
 310.2009423809311,
 156.5321678476083,
 35.315184209521384,
 81.12947723808966,
 95.44644380951726,
 231.93485845712692,
 183.25717211427315,
 273.93129373331453,
 4.772322190475863,
 38.1785775238069,
 172.75806329522624,
 17.180359885713106,
 143.16966571427588,
 87.81072830475587,
 31.63648729192001,
 1.8077992738240005,
 503.47209775998414,
 35.25208583956801,
 267.55429252595206,
 44.29108220868801,
 185.29942556696005,
 19.885792012064005,
 157.27853682268804,
 16.270193464416003,
 77.73536877443202,
 237.72560450785608,
 564.0333734330882,
 90.38996369120002,
 12.654594916768003,
 297.3829805440481,
 7.231197095296002,
 174.45262992401604,
 461.89271446203213,
 489.9136032063041,
 119.76335582885248,
 211.5446191743282,
 122.00192322752261,
 88.42341224747052,
 173.48897339693582,
 124.24049062619275,
 85.06556114946531,
 79.46914265278996,
 81.7077100514601,
 32.45922728071702,
 170.13112229893062,
 99.61624924082122,
 12.312120692685768,

In [19]:
wtrps = np.zeros(723)
twps = np.zeros(723)
tops = np.zeros(723)
tbps = np.zeros(723)
balls = np.zeros(len(df1.index))
for i in df1.index:
    avg = df1["Avg"][i]
    if not np.isnan(avg):
        wtrps[series_code[i]] += weighted_runs_arr[i]
        twps[series_code[i]] += df1["Wickets"][i]
        balls[i] = math.floor(df1["Overs"][i])*6 + (df1["Overs"][i]- math.floor(df1["Overs"][i]))*10
        tbps[series_code[i]] += balls[i]
        
    tops[series_code[i]] += df1["Overs"][i]

In [20]:
bowl=np.zeros(len(df1.index))
for i in df1.index:
    bowl[i] = (wtrps[series_code[i]] - weighted_runs_arr[i])/(twps[series_code[i]]-df1["Wickets"][i])
    avg = df1["Avg"][i]
    bowl[i] = bowl[i]/avg
    if np.isnan(avg) or avg == 0:
        bowl[i] = 0

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in double_scalars
  """

args=np.argsort(bowl)[-15:]
args

runs_metric_20 = []
player_dict_temp_20 = {}


for i in player_names:
    no_of_wickets=0
    no_balls = 0
    spf_sum = 0
    no_series = 0
    for j in player_dict_temp_3[i]:
        spf_sum += bowl[j]
        no_series += 1
        no_of_wickets += df1["Wickets"][j]
        #no_balls += balls[j]
    #if(no_balls > 4000):    
    if(no_of_wickets > 150): 
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_20[i] = spf_sum/no_series
    
s_20 = [(k,player_dict_temp_20[k]) for k in sorted(player_dict_temp_20, key=player_dict_temp_20.get, reverse = True)]
s =0
for k,v in s_20:
    s += v
    print(k,":",v)
a_2 = s/len(s_20)

In [21]:
bowl1=np.zeros(len(df1.index))
for i in df1.index:
    bowl1[i] = (wtrps[series_code[i]] - weighted_runs_arr[i])/(tops[series_code[i]]-df1["Overs"][i])
    e_r = df1["E/R"][i]
    bowl1[i] = bowl1[i]/e_r
    if e_r == 0:
        bowl1[i] = 0
bowl1[:14]

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in double_scalars
  """

array([0.47028799, 0.48063638, 0.34027276, 0.56048722, 0.59506265,
       0.3302795 , 0.7887343 , 0.17182126, 0.6016263 , 0.56366939,
       0.58347044, 1.05244623, 0.52670711, 0.53808851])

runs_metric_30 = []
player_dict_temp_30 = {}


for i in player_names:
    no_of_wickets1=0
    spf_sum1 = 0
    no_series1 = 0
    no_balls = 0
    for j in player_dict_temp_3[i]:
        spf_sum1 += bowl1[j]
        no_series1 += 1
        no_of_wickets1 += df1["Wickets"][j]
        #no_balls += balls[j]
    #if(no_balls > 4000):  
    if(no_of_wickets1 > 150): 
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_30[i] = spf_sum1/no_series1
    
s_30 = [(k,player_dict_temp_30[k]) for k in sorted(player_dict_temp_30, key=player_dict_temp_30.get, reverse = True)]

s =0
for k,v in s_30:
    s += v
    print(k,":",v)
a_3 = s/len(s_30)

In [22]:
bowl2=np.zeros(len(df1.index))
for i in df1.index:
    bowl2[i] = (tbps[series_code[i]] - balls[i])/(twps[series_code[i]]-df1["Wickets"][i])
    s_r = df1["S/R"][i]
    bowl2[i] = bowl2[i]/s_r
    if np.isnan(s_r) or s_r == 0:
        bowl2[i] = 0

runs_metric_40 = []
player_dict_temp_40 = {}


for i in player_names:
    no_of_wickets2=0
    spf_sum2 = 0
    no_series2 = 0
    no_balls = 0
    for j in player_dict_temp_3[i]:
        spf_sum2 += bowl2[j]
        no_series2 += 1
        no_of_wickets2 += df1["Wickets"][j]
        #no_balls += balls[j]
    #if(no_balls > 4000):
    if(no_of_wickets2 > 150):    
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_40[i] = spf_sum2/no_series2
    
s_40 = [(k,player_dict_temp_40[k]) for k in sorted(player_dict_temp_40, key=player_dict_temp_40.get, reverse = True)]

s_1 =0
for k,v in s_40:
    s_1 += v
    print(k,":",v)
a_4 = s_1/len(s_40)

avg = [a_2, a_3, a_4]
w = np.average(avg)/avg

player_dict_temp_50 = {}

for i in player_dict_temp_40.keys():
    player_dict_temp_50[i] = (w[0]*player_dict_temp_20[i]+w[1]*player_dict_temp_30[i]+w[2]*player_dict_temp_40[i])/np.sum(w)
    
s_50 = [(k,player_dict_temp_50[k]) for k in sorted(player_dict_temp_50, key=player_dict_temp_50.get, reverse = True)]

for k,v in s_50:
    print(k,":",v)

for k,v in s_50:
    first = player_indices[np.where(player_names == k)[0][0]]
    #print(first,"->",df[' Decade_Index '][first])
    if df1['Decade_Index'][first] >= 6:
        print(k,":",v)

#def bowl_calc(param):
    bowl1=np.zeros(len(df1.index))
    for i in df1.index:
        bowl1[i] = (wtrps[series_code[i]] - weighted_runs_arr[i])/(tops[series_code[i]]-df1["Overs"][i])
        e_r = df1[param][i]
        bowl1[i] = bowl1[i]/e_r
        if np.isnan(e_r) or  e_r == 0:
            bowl1[i] = 0
    return bowl1

In [23]:
def name(bowl, x):
    runs_metric = []
    player_dict_temp = {}


    for i in player_names:
        no_of_wickets=0
        spf_sum = 0
        no_series = 0
        no_balls = 0
        for j in player_dict_temp_3[i]:
            spf_sum += bowl[j]
            no_series += 1
            no_of_wickets += df1["Wickets"][j]
            #no_balls += balls[j]
        #if(no_balls > 4000):
        if(no_of_wickets > x):    
            #runs_metric_20.append(runs/no_of_matches)
            player_dict_temp[i] = spf_sum/no_series

    sum_values =sum(player_dict_temp.values())
    '''for k,v in s:
        sum_values += v
        #print(k,":",v)'''
    a = sum_values/len(player_dict_temp) 
    return player_dict_temp, a

In [24]:
def final_players(x):
    player_dict_temp_25, a_25 = name(bowl, x)
    player_dict_temp_35, a_35 = name(bowl1, x)
    player_dict_temp_45, a_45 = name(bowl2, x)
    avg_temp = [a_25, a_35, a_45]
    print(avg_temp)
    w_temp = np.average(avg_temp)/avg_temp
    print(w_temp)

    player_dict_temp_55 = {}

    for i in player_dict_temp_45.keys():
        player_dict_temp_55[i] = (w_temp[0]*player_dict_temp_25[i]+w_temp[1]*player_dict_temp_35[i]+w_temp[2]*player_dict_temp_45[i])/np.sum(w_temp)

    s_55 = [(k,player_dict_temp_55[k]) for k in sorted(player_dict_temp_55, key=player_dict_temp_55.get, reverse = True)]
    return s_55

player_dict_temp_25, a_25 = name(bowl, 50)
player_dict_temp_35, a_35 = name(bowl1, 50)
player_dict_temp_45, a_45 = name(bowl2, 50)
avg_temp = [a_25, a_35, a_45]
w_temp = np.average(avg_temp)/avg_temp

player_dict_temp_55 = {}

for i in player_dict_temp_45.keys():
    player_dict_temp_55[i] = (w_temp[0]*player_dict_temp_25[i]+w_temp[1]*player_dict_temp_35[i]+w_temp[2]*player_dict_temp_45[i])/np.sum(w_temp)

s_55 = [(k,player_dict_temp_55[k]) for k in sorted(player_dict_temp_55, key=player_dict_temp_55.get, reverse = True)]

In [25]:
s_55 = final_players(50)

s_50 = final_players(150)

[0.9898727480758911, 0.9718831679223513, 0.9775521719221536]
[0.98979325 1.00811434 1.0022681 ]
[1.1443300432514851, 1.016432133861857, 1.0735660088580843]
[0.94213151 1.06068016 1.00423205]

In [26]:
players_list = {}
for country in series_to_number.keys():
    #print(country)
    count=0
    players_list[country] = list()
    for k,v in s_50:
        first = player_indices[np.where(player_names == k)[0][0]]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
        if df1['Country'][first] == country:
            player = str(k)+':'+str(v)
            players_list[country] = players_list[country]+[player]
            count += 1
        if count == 6:
            break
    if count < 5:
        players_list[country] = list()
        count = 0
        for k,v in s_55:
            first = player_indices[np.where(player_names == k)[0][0]]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
            if df1['Country'][first] == country:
                player = str(k)+':'+str(v)
                players_list[country] = players_list[country]+[player]
                count += 1
            if count == 6:
                break
for k in players_list.keys():
    print(k)
    for i in players_list[k]:
        print(i)
    print("\n")

Australia
Grimmett C V:1.3442212577189085
McGrath G D:1.2237109220894458
Davidson A K:1.1724787139385628
Miller K R:1.1550077680217825
Gillespie J N:1.132781870607235
Johnston W A:1.124305553274207


Pakistan
Shoaib Akhtar:1.6981859461247635
Imran Khan:1.2484170019917686
Waqar Younis:1.1378536225279208
Yasir Shah:1.1293585217297486
Wasim Akram:1.1159376679301076
Saqlain Mushtaq:1.0763786976077476


New Zealand
Hadlee R J:1.2419391964628899
Boult T A:1.146511637021571
Martin C S:1.1325698970191116
Southee T G:1.0509771023402599
Cairns C L:1.05023278848861
Vettori D L:1.0194744479135962


West Indies
Garner J:1.2041137915502176
Ambrose C E L:1.1674736721924204
Marshall M D:1.1555442673783392
Holding M A:1.1324266366844673
Hall W W:1.1041279989986992
Roberts A M E:1.0637710639424678


England
Tate M W:1.309181121573127
Trueman F S:1.2168876891122584
Lock G A R:1.2091523605265255
Laker J C:1.179756011901336
Anderson J M:1.117960263218788
Swann G P:1.0831081959325695


India
Jadeja R A:1.2362071684031029
Ashwin R:1.1623689942800652
Kumble A:1.1002878963919946
Khan Z:1.065306789746472
Kapil Dev:1.0553986411882648
Srinath J:1.0547540881314503


Sri Lanka
Muralitharan M:1.3381241063378027
Herath H M R K B:1.092582335896426
Vaas W P U J C:1.0842293090877768
Zoysa D N T:0.9916870488129187
Mendis B A W:0.9636052413307162
Perera M D K:0.9624171545705111


Bangladesh
Shakib Al Hasan:0.9465892643556889
Taijul Islam:0.7832917740056876
Mohammad Rafique:0.7678473045969411
Mashrafe Mortaza:0.7170914064679892
Enamul Haque:0.7112990177326046
Shahadat Hossain:0.6018908457710862


Zimbabwe
Streak H H:1.0961778648149016
Price R W:0.9509990977736682
Blignaut A M:0.9247709753508818
Strang P A:0.866898390435158
Olonga H K:0.8068258004144991
Strang B C:0.7906618412636892


South Africa
Steyn D W:1.3561379007901644
Pollock S M:1.2805092945859435
Donald A A:1.2110927855196287
Philander V D:1.1974670287212146
Tayfield H J:1.0928500841167115
Morkel M:1.0915744585612108

In [30]:
players_list = {}
for country in series_to_number.keys():
    #print(country)
    count=0
    players_list[country] = list()
    for k,v in s_50:
        first = player_indices[np.where(player_names == k)[0][0]]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
        if df1['Country'][first] == country and df1['Decade_Index'][first] >= 6:
            player = str(k)+':'+str(v)
            players_list[country] = players_list[country]+[player]
            count += 1
        if count == 6:
            break
    if count < 5:
        players_list[country] = list()
        count = 0
        for k,v in s_55:
            first = player_indices[np.where(player_names == k)[0][0]]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
            if df1['Country'][first] == country and df1['Decade_Index'][first] >= 6:
                player = str(k)+':'+str(v)
                players_list[country] = players_list[country]+[player]
                count += 1
            if count == 6:
                break
for k in players_list.keys():
    print(k)
    for i in players_list[k]:
        print(i)
    print("\n")

Australia
McGrath G D:1.2237109220894458
Gillespie J N:1.132781870607235
Hazlewood J R:1.1231646861891869
Warne S K:1.1187565132776076
Johnson M G:1.0975158462156123
MacGill S C G:1.0806251486689014


Pakistan
Shoaib Akhtar:1.6981859461247635
Waqar Younis:1.1378536225279208
Yasir Shah:1.1293585217297486
Wasim Akram:1.1159376679301076
Saqlain Mushtaq:1.0763786976077476
Saeed Ajmal:1.0252393299133928


New Zealand
Boult T A:1.146511637021571
Martin C S:1.1325698970191116
Southee T G:1.0509771023402599
Cairns C L:1.05023278848861
Vettori D L:1.0194744479135962
Morrison D K:0.993086061955571


West Indies
Ambrose C E L:1.1703038898367921
Walsh C A:1.0600165430377264
Bishop I R:1.0058742439802664
Collymore C D:0.9866052460865747
Benjamin W K M:0.9653164815065065
Roach K A J:0.9629091641293498


England
Anderson J M:1.117960263218788
Swann G P:1.0831081959325695
Fraser A R C:1.0740612504824167
Harmison S J:1.071116914484243
Broad S C J:1.0227209983256305
Hoggard M J:1.020589129392341


India
Jadeja R A:1.2362071684031029
Ashwin R:1.1623689942800652
Kumble A:1.1002878963919946
Khan Z:1.065306789746472
Srinath J:1.0547540881314503
Sharma I:1.0227687027725247


Sri Lanka
Muralitharan M:1.3381241063378027
Herath H M R K B:1.092582335896426
Vaas W P U J C:1.0842293090877768
Zoysa D N T:0.9916870488129187
Mendis B A W:0.9636052413307162
Perera M D K:0.9624171545705111


Bangladesh
Shakib Al Hasan:0.9465892643556889
Taijul Islam:0.7832917740056876
Mohammad Rafique:0.7678473045969411
Mashrafe Mortaza:0.7170914064679892
Enamul Haque:0.7112990177326046
Shahadat Hossain:0.6018908457710862


Zimbabwe
Streak H H:1.0961778648149016
Price R W:0.9509990977736682
Blignaut A M:0.9247709753508818
Strang P A:0.866898390435158
Olonga H K:0.8068258004144991
Strang B C:0.7906618412636892


South Africa
Steyn D W:1.3561379007901644
Pollock S M:1.2805092945859435
Donald A A:1.2110927855196287
Philander V D:1.1974670287212146
Morkel M:1.0915744585612108
Ntini M:1.0421274574265713

In [28]:
s_51 = final_players(10)
s_56 = final_players(5)

[0.9070394399470981, 0.9511938650726244, 0.922570810900443]
[1.02193429 0.97449609 1.00473015]
[0.8897597187765746, 0.9456062675248209, 0.9126230455462321]
[1.02948732 0.96868684 1.00369627]

In [35]:

players_list = {}
for country in series_to_number.keys():
    #print(country)
    count=0
    players_list[country] = list()
    for k,v in s_51:
        last = player_dict_temp_3[k][-1]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
        if df1['Country'][last] == country and df1["Decade_Index"][last]>=13:
            player = str(k)+':'+str(v)
            players_list[country] = players_list[country]+[player]
            count += 1
        if count == 12:
            break
    if count < 7:
        players_list[country] = list()
        count = 0
        for k,v in s_56:
            last = player_dict_temp_3[k][-1]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
            if df1['Country'][last] == country and df1['Decade_Index'][last] >= 13:
                player = str(k)+':'+str(v)
                players_list[country] = players_list[country]+[player]
                count += 1
            if count == 12:
                break
for k in players_list.keys():
    print(k)
    for i in players_list[k]:
        print(i)
    print("\n")

Australia
Cummins P J:1.1293283358300552
Hazlewood J R:1.1253543533601653
Pattinson J L:1.1122777423994648
Starc M A:1.0394589618372672
Siddle P M:1.0387231272726152
O'Keefe S N J:1.0288540893280291
Lyon N M:0.9794361981863734
Bird J M:0.9674152907651512
Smith S P D:0.8055494914019656
Marsh M R:0.789004286374587


Pakistan
Imran Khan:1.2579598904282616
Yasir Shah:1.137835997225558
Mohammad Abbas:1.0580754955420375
Wahab Riaz:0.9916892013448518
Rahat Ali:0.9780174032911814
Zulfiqar Babar:0.9519106275064778
Mohammad Amir:0.8792693400732823
Sohail Khan:0.7434051488209857


New Zealand
Wagner N:1.1931767922838799
Boult T A:1.1505407460454649
Santner M J:1.114505254229795
de Grandhomme C:1.0687589420486727
Southee T G:1.053134432141944
Bracewell D A J:0.9736188445494739
Anderson C J:0.9124787380865861
Henry M J:0.8325385937863542
Craig M D:0.8225895052644725
Neesham J D S:0.8146524033016923
Sodhi I S:0.7818017407973696
Patel J S:0.7706512977570954


West Indies
Roach K A J:0.9644978083280656
Bishoo D:0.8634670958386906
Gabriel S T:0.8597019618598905
Holder J O:0.854653406572237
Cummins M L:0.8085064572005864
Brathwaite K C:0.7090003302375942
Joseph A S:0.698995891105992
Chase R L:0.6983998542078032


England
Roland-Jones T S:1.358744134345712
Anderson J M:1.1232615387945544
Broad S C J:1.0242713045776046
Finn S T:0.9952229722421552
Stokes B A:0.9128003198853296
Woakes C R:0.8020444988299535
Rashid A U:0.8013262444924454
Root J E:0.7779094292714339
Ali M M:0.7720184734401616
Wood M A:0.7180832588449497
Batty G J:0.5767866899818102


India
Jadeja R A:1.2379107346549194
Kumar B:1.1853341153199914
Ashwin R:1.1705662460293311
Mohammed Shami:1.1401362911246091
Sharma I:1.0260613545861708
Mishra A:0.9766308980057042
Yadav U T:0.9421297992138483
Yadav J:0.9236454585048902
Bumrah J J:0.8907438278136891


Sri Lanka
Herath H M R K B:1.0932336056637633
Siriwardana T A M:1.074655770267566
Chameera P V D:1.00076998116221
Perera M D K:0.9626996395498706
Eranga R M S:0.9519560081836792
Sandakan P A D L R:0.8653878754596142
Pradeep N:0.8023140008745318
Lakmal R A S:0.7792207901344523
Mathews A D:0.7552829274256266
Kumara C B R L S:0.6759941030139206


Bangladesh
Mustafizur Rahman:1.0975838185143176
Shakib Al Hasan:0.9455857742779108
Mahmudullah:0.9082201931601434
Taijul Islam:0.7819283452490934
Mehidy Hasan Miraz:0.7765228686140907
Abdur Razzak:0.6785710582949187
Shafiul Islam:0.6718885461624007
Rubel Hossain:0.5790356867337971


Zimbabwe
Masakadza H:1.2798399683040032
Mumba C T:1.0327531514293429
Jarvis K M:0.9368253187129278
Tiripano D T:0.8447991584828788
Mpofu C B:0.7629756628489163
Cremer A G:0.7388020952442005
Waller M N:0.6882173013133701
Williams S C:0.682407437761315
Sikandar Raza:0.5502130568299436


South Africa
Phehlukwayo A L:1.4308574638934688
Ngidi L:1.3870365986958915
Steyn D W:1.3741326384208425
Parnell W D:1.3660963677612352
Olivier D:1.2525309393941804
Rabada K:1.2242188376567167
Abbott K J:1.2053923182257789
Philander V D:1.2026625352212825
Morkel M:1.0972209075798633
Elgar D:0.9512830344868906
Maharaj K A:0.9419170619100833
Duminy J-P:0.8930277101169346