In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df1 = pd.read_csv("records_final_series_test_final_bowlers_v3.csv")

In [6]:
df1.head()

,Player,Country,Mat,Overs,Maidens,Runs,Wickets,Best,5w,10w,Avg,S/R,E/R,Series_Code,H/A,Decade_Index
0,McGrath G D,Australia,1,54.0,19,90,6,Mar-44,0,0,15.00,54.00,1.67,418,Away,9
1,Streak H H,Zimbabwe,1,34.0,8,93,5,May-93,1,0,18.60,40.80,2.74,418,Home,9
2,Warne S K,Australia,1,53.1,13,137,6,Mar-68,0,0,22.83,53.17,2.58,418,Away,9
3,Fleming D W,Australia,1,36.0,12,53,2,22-Feb,0,0,26.50,108.00,1.47,418,Away,9
4,Miller C R,Australia,1,53.0,16,102,3,Mar-66,0,0,34.00,106.00,1.92,418,Away,9

In [9]:
series = df1[' Decade_Index '].values
number, series_unique = np.unique(series, return_inverse = True)

In [10]:
players = df1['Player'].values
player_names, player_indices = np.unique(players, return_index = True)
player_dict_temp_3 = {}
for i in df1.index:
    if df1["Player"][i] in player_dict_temp_3.keys():
        player_dict_temp_3[df1["Player"][i]] = player_dict_temp_3[df1["Player"][i]] + [i]
    else:
        player_dict_temp_3[df1["Player"][i]] = [i]

In [14]:
series_codes = df1['Series_Code'].values
series_list, series_occurances = np.unique(series_codes, return_index=True)

In [15]:
series_to_number = {'Australia':0, 'Pakistan':1, 'New Zealand':2, 'West Indies':3, 'England':4, 'India' :5, 'Sri Lanka':6, 'Bangladesh':7, 'Zimbabwe':8, 'South Africa':9} 
opposition_country =[]
series_country = []
j = 0
for i in series_occurances:
    home = 0
    away = 0
    j = i
    while 1 != 0:
        #print(j)
        if df1[' H/A'][j] == 'Home' and home == 0:
            #print(df['Country'][j])
            series_country.append(series_to_number[df1['Country'][j]]) 
            home = home + 1
        elif df1[' H/A'][j] == 'Away' and away == 0:    
            #print(df['Country'][j])
            opposition_country.append(series_to_number[df1['Country'][j]]) 
            away = away + 1
        elif home == 1 and away == 1:
            #print("hello")
            break
        j = j + 1

723