In [2]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df1 = pd.read_csv("records_final_series_ODI_bowlers_v1.csv")

In [4]:
df1.head()

,Player,Country,Mat,Overs,Maidens,Runs,Wickets,4w,Best,Avg,S/R,E/R,Series_Code,H/A,Decade_Index,Matches
0,McKenzie G D,Australia,1,7.4,0,22,2,0,22-Feb,11.00,30.00,2.20,193,Home,0,1
1,Mallett A A,Australia,1,8.0,1,34,3,0,Mar-34,11.33,21.33,3.19,193,Home,0,1
2,Stackpole K R,Australia,1,8.0,0,40,3,0,Mar-40,13.33,21.33,3.75,193,Home,0,1
3,Illingworth R,England,1,8.0,1,50,3,0,Mar-50,16.67,21.33,4.69,193,Away,0,1
4,Thomson A L,Australia,1,8.0,2,22,1,0,22-Jan,22.00,64.00,2.06,193,Home,0,1

In [5]:
#df1.sort_values(['Series_Code', 'Mat'], ascending=[True, False], inplace=True)

In [6]:
#df1

In [7]:
series = df1['Decade_Index'].values
number, series_unique = np.unique(series, return_inverse = True)

In [8]:
players = df1['Player'].values
player_names, player_indices = np.unique(players, return_index = True)
player_dict_temp_3 = {}
for i in df1.index:
    if df1["Player"][i] in player_dict_temp_3.keys():
        player_dict_temp_3[df1["Player"][i]] = player_dict_temp_3[df1["Player"][i]] + [i]
    else:
        player_dict_temp_3[df1["Player"][i]] = [i]

In [9]:
player_indices

array([  274,  3153,  1951, ...,  7410, 10370,  8655], dtype=int64)

In [11]:
series_codes = df1['Series_Code'].values
series_list, series_occurances, series_code = np.unique(series_codes, return_index=True, return_inverse = True)
type(series_list)

numpy.ndarray

In [10]:
series_to_number = {'Australia':0, 'Pakistan':1, 'New Zealand':2, 'West Indies':3, 'England':4, 'India' :5, 'Sri Lanka':6, 'Bangladesh':7, 'Zimbabwe':8, 'South Africa':9, 'Other':10} 
#opposition_country =[]
series_country = []
j = 0
for i in series_occurances:
    home = 0
    away = 0
    j = i
    s_code = df1['Series_Code'][i]
    while 1 != 0:
        #print(j)
        if df1['H/A'][j] == 'Home' and home == 0:
            #print(df['Country'][j])
            country = df1['Country'][j]
            home = home + 1
        if df1['Series_Code'][j]!=s_code or home ==1:
            break    
        j = j + 1 
    if country in series_to_number.keys():
        series_country.append(series_to_number[country])
    else:
        series_country.append(10)

In [11]:
#series_country

In [12]:
#len(series_country)

In [13]:
series_list = list(series_list)

In [14]:
trps = np.zeros(656)

for i in df1.index:
    avg = df1["Avg"][i]
    if not np.isnan(avg):
        s = df1["Series_Code"][i]
        index = np.where(series_list == s)[0]
        #print(index)
        trps[index] += df1["Runs"][i]

In [15]:
trps

array([ 1687.,  1136.,  1090.,   235.,  1089.,   216.,   462.,   642.,
         763.,   832.,   470.,   246.,   302.,  5106.,   303.,   595.,
         988.,   350.,   246.,   942.,   812.,   577.,   546.,   614.,
         682.,   781.,  4144.,   253.,  4780.,   743.,   637.,   689.,
        6353.,   433.,   648.,  1008.,  6293.,   871.,   818.,   604.,
         904.,   526.,   836.,  1300.,   599.,  1336.,  6087.,  1077.,
         212.,   967.,  1155.,   900., 10677.,   532.,  1570.,   711.,
        6206.,  1227.,   884.,   453.,   727.,  1103.,  1273.,   479.,
         440.,  1259.,  1933.,  1429.,  7325.,  3864.,  1521.,   982.,
        1342.,   968.,  1368.,   734.,  1688.,  5976.,  1246.,   580.,
        1510.,   673.,   833.,  1306.,   680.,   793.,  2365.,  1544.,
        1835.,  1691.,  2680.,  5133.,  2234.,  1060.,  2094.,   986.,
       11543.,   989.,  2601.,  5037.,   315.,  1319.,  1843.,  1805.,
         314.,   202.,   901.,  1848.,  1862.,  1416.,   330.,  5456.,
         172.,  1565.,  1729.,   825.,  1301.,  2363.,  7049.,   414.,
        1322.,  5518.,  2411.,  3026.,   745.,   978.,   695.,   996.,
        5309.,  1001.,   488.,  1310.,  1126.,  1154.,  2030.,  1239.,
        2740.,  1145.,   872.,  4584.,  1527.,   991., 14201.,   903.,
        2235.,  1063.,   371.,   715.,  4649.,   669.,  2418.,   738.,
        1246.,  2295.,  3061.,   208.,   643.,  1967.,  1037.,  1999.,
        1336.,  1133.,   820.,  3019.,  4192.,   621.,  4840.,   871.,
         921.,  1439.,  2058.,  3152.,  1445.,  3013.,   242.,  1643.,
         576.,  1598.,  3585.,  2128.,  1024.,  2592.,  5483.,  2032.,
         866.,  2492.,  1113.,  2189.,  1131.,  2161.,  1131.,   932.,
        3077.,   646.,  1922.,  1684.,  5271.,  2621.,   959., 13592.,
        1966.,  1692.,  2868.,   409.,   932.,  2560.,  1258.,  1819.,
        2646.,  3795.,   898.,  2361.,  1299.,   324.,   998.,  5253.,
        4564.,   153.,  1907.,   566.,  3210.,  2381.,  1185.,  3529.,
        1080.,   330.,  2260.,  1872.,  1802.,   933.,  1248.,  3093.,
        2894.,  2144.,  2824.,   614.,  1074.,  6002.,  1909.,  1724.,
         698.,  2236.,  3036.,  3712.,  2967.,  1219.,  2434.,  2385.,
        1680.,  2182.,  1083.,  2960.,  1376.,  2589.,  1249.,  1940.,
        7264.,  2710.,  2247.,   260.,  2761.,  2760.,  2280.,  2948.,
       15534.,  2843.,  1675.,   915.,  1067.,  2250.,   792.,  2207.,
         920.,  2391.,  1535.,  1966.,  5637.,  1228.,  3176.,   974.,
        2077.,  2542.,  2326.,  3127.,   967.,  2591.,  2585.,  3434.,
        1218.,  1253.,  1090.,  3422.,  2631.,  2289.,  1252.,  2239.,
        2505.,  1222.,  5612.,  1936.,  1911.,   914.,  2338.,   984.,
        2941.,  2605.,  3263.,  2584.,  3864.,  1288.,  2001.,  3674.,
        2747.,   970.,  2221.,  5406.,  2759.,  1874.,  2411.,  3356.,
        2878.,  1256.,  1010.,  1945.,  1038.,  4410.,   851.,  2767.,
         724.,  3396.,  2080.,  1765.,  1207.,  2078.,  6107.,  1978.,
       19168.,  2547.,  2061.,  3136.,  1183.,  1182.,  3234.,   701.,
        2263.,  1775.,  4069.,   733.,    85.,  1707.,  2227.,  2205.,
        6218.,  1835.,  2634.,  1995.,  1171.,  2761.,  1826.,  1371.,
         569.,   978.,  2668.,  4972.,  2232.,   714.,  1024.,   373.,
        4378.,  2418.,   854.,   355.,  1433.,   936.,  1283.,   157.,
        4881.,  2032.,  2856.,  2296.,  1182.,  3027.,  1782.,  1319.,
        1103.,  2906.,  3086.,  1136.,  1749.,  3191.,  1496.,  1378.,
        2347.,  7193.,  2352.,  2291.,  1098.,  2386.,   894.,  2279.,
         803.,   835.,  2068.,  2174.,  1419.,  2530.,  1926.,  1701.,
        2508.,  1070.,  1776.,  5429.,  1524.,  1682.,  1292.,  1424.,
        6217.,  1896.,  1609.,  1806.,  1435.,  1199.,  1175., 19675.,
         900.,  1069.,  1129.,  1084.,  1158.,   928.,  3408.,  1368.,
        2874.,  1825.,  2188.,  2533.,  1267.,  1669.,   820.,   830.,
        2116.,  1988.,  5225.,  1921.,   811.,  2155.,   819.,  1692.,
        1963.,  5891.,  2234.,   768.,  1652.,  1429.,  1228.,   727.,
        1125.,  1016.,  1367.,  2196.,  1187.,  1401.,  1105.,  2361.,
         695.,  1198.,  2460.,  2099.,  1794.,  1723.,  2257.,  1743.,
         695.,  1184.,  1319.,  2153.,  2357.,  3213.,  1621.,  5996.,
        3040.,  1680.,  1317.,   682.,  1007.,  2151.,  3099.,  2160.,
        1241.,  1961.,  1560.,  1163.,  2251.,  1680.,  2294.,  2754.,
        2856.,  2312.,  1278.,  2230.,  2314.,  1431.,  1237.,   190.,
        2235.,  1035.,  1982.,  1325.,  2059.,  3406.,  2262.,   702.,
       19692.,  1410.,  1736.,  2068.,  2148.,   740.,  1600.,  1882.,
        2057.,  1293.,   871.,  2238.,  1159.,  1233.,  1917.,  2522.,
         834.,  2091.,  1528.,  7107.,  1366.,  1105.,  3138.,  2105.,
        1575.,   813.,  1387.,  2199.,  2264.,  1607.,  1026.,  1007.,
        1820.,  1099.,  1505.,  2162.,  1149.,  2045.,  1219.,  1135.,
        2012.,   914.,  1316.,  1372.,  5425.,  2645.,  1968.,  1959.,
        1773.,  1103.,  1563.,  3236.,  1337.,  1950.,   770.,  1414.,
        1218.,  1023.,  2227.,  1418.,  2471.,  2747.,  1171.,  4878.,
        1225.,  1698.,   605.,  1424.,  1051.,  1220.,  1034.,  3126.,
        1667.,  1267.,  1431.,   934.,  2579.,  2472.,  1816.,  3337.,
        2514.,  2979.,  2615.,  2216.,   948., 22057.,  1193.,  1123.,
        3045.,  1406.,  1214.,   886.,  2410.,  1124.,  1331.,  2289.,
        1169.,  2667.,  1010.,  1259.,  1865.,  1553.,  2755.,   930.,
        1233.,  2674.,  3911.,   554.,  2320.,  2018.,  2375.,  1482.,
        2690.,  1387.,  2169.,  2135.,  1585.,  1340.,  2467.,  1750.,
        2385.,   965.,  2154.,  1143.,  1112.,  1429.,  2356.,  1333.,
        6256.,  1743.,  2208.,  2153.,  2380.,  2097.,  1674.,  1272.,
        1519.,  1232.,   882.,  2157.,  2398.,  2434.,  2478.,  2541.])

In [16]:
arpspc = np.zeros(11)
tmpc = np.zeros(11)
for i in range(len(trps)):
    tmpc[series_country[i]] += df1['Matches'][series_occurances[i]]
    arpspc[series_country[i]] += trps[i]

In [17]:
arpc=arpspc/tmpc

In [18]:
avr_average = np.average(arpc)

In [19]:
weights_arpc = np.average(arpc)/arpc

In [20]:
weights_arpc

array([0.94370681, 0.98110777, 1.00771905, 0.99912575, 0.99241729,
       0.93649992, 1.05536995, 1.0256387 , 1.02115162, 0.96084184,
       1.09907793])

In [21]:
weighted_runs_arr = []
for i in df1.index:
    #print(series_code[i])
    w = weights_arpc[series_country[series_code[i]]]
    weighted_runs_arr.append(df1['Runs'][i]*w)
#weighted_runs_arr

In [22]:
wtrps = np.zeros(656)
twps = np.zeros(656)
tops = np.zeros(656)
tbps = np.zeros(656)
balls = np.zeros(len(df1.index))
for i in df1.index:
    avg = df1["Avg"][i]
    if not np.isnan(avg):
        wtrps[series_code[i]] += weighted_runs_arr[i]
        twps[series_code[i]] += df1["Wickets"][i]
        balls[i] = math.floor(df1["Overs"][i])*6 + (df1["Overs"][i]- math.floor(df1["Overs"][i]))*10
        tbps[series_code[i]] += balls[i]
        
    tops[series_code[i]] += df1["Overs"][i]

In [23]:
bowl=np.zeros(len(df1.index))
for i in df1.index:
    bowl[i] = (wtrps[series_code[i]] - weighted_runs_arr[i])/(twps[series_code[i]]-df1["Wickets"][i])
    avg = df1["Avg"][i]
    bowl[i] = bowl[i]/avg
    if np.isnan(avg) or avg == 0:
        bowl[i] = 0

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in double_scalars
  """

args=np.argsort(bowl)[-15:]
args

runs_metric_20 = []
player_dict_temp_20 = {}


for i in player_names:
    no_of_wickets=0
    no_balls = 0
    spf_sum = 0
    no_series = 0
    for j in player_dict_temp_3[i]:
        spf_sum += bowl[j]
        no_series += 1
        no_of_wickets += df1["Wickets"][j]
        #no_balls += balls[j]
    #if(no_balls > 4000):    
    if(no_of_wickets > 100): 
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_20[i] = spf_sum/no_series
    
s_20 = [(k,player_dict_temp_20[k]) for k in sorted(player_dict_temp_20, key=player_dict_temp_20.get, reverse = True)]
s =0
for k,v in s_20:
    s += v
    print(k,":",v)
a_2 = s/len(s_20)

In [24]:
bowl1=np.zeros(len(df1.index))
for i in df1.index:
    bowl1[i] = (wtrps[series_code[i]] - weighted_runs_arr[i])/(tops[series_code[i]]-df1["Overs"][i])
    e_r = df1["E/R"][i]
    bowl1[i] = bowl1[i]/e_r
    if e_r == 0:
        bowl1[i] = 0
bowl1[:14]

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in double_scalars
  """

array([1.36370116, 0.89551813, 0.7390475 , 0.56061911, 1.46953993,
       0.92743616, 0.57220758, 0.42319349, 0.723366  , 0.78647557,
       1.02538401, 0.97455203, 1.0081609 , 0.93556289])

runs_metric_30 = []
player_dict_temp_30 = {}


for i in player_names:
    no_of_wickets1=0
    spf_sum1 = 0
    no_series1 = 0
    no_balls = 0
    for j in player_dict_temp_3[i]:
        spf_sum1 += bowl1[j]
        no_series1 += 1
        no_of_wickets1 += df1["Wickets"][j]
        #no_balls += balls[j]
    #if(no_balls > 4000):  
    if(no_of_wickets1 > 100): 
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_30[i] = spf_sum1/no_series1
    
s_30 = [(k,player_dict_temp_30[k]) for k in sorted(player_dict_temp_30, key=player_dict_temp_30.get, reverse = True)]

s =0
for k,v in s_30:
    s += v
    print(k,":",v)
a_3 = s/len(s_30)

In [25]:
bowl2=np.zeros(len(df1.index))
for i in df1.index:
    bowl2[i] = (tbps[series_code[i]] - balls[i])/(twps[series_code[i]]-df1["Wickets"][i])
    s_r = df1["S/R"][i]
    bowl2[i] = bowl2[i]/s_r
    if np.isnan(s_r) or s_r == 0:
        bowl2[i] = 0

runs_metric_40 = []
player_dict_temp_40 = {}


for i in player_names:
    no_of_wickets2=0
    spf_sum2 = 0
    no_series2 = 0
    no_balls = 0
    for j in player_dict_temp_3[i]:
        spf_sum2 += bowl2[j]
        no_series2 += 1
        no_of_wickets2 += df1["Wickets"][j]
        #no_balls += balls[j]
    #if(no_balls > 4000):
    if(no_of_wickets2 > 100):    
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_40[i] = spf_sum2/no_series2
    
s_40 = [(k,player_dict_temp_40[k]) for k in sorted(player_dict_temp_40, key=player_dict_temp_40.get, reverse = True)]

s_1 =0
for k,v in s_40:
    s_1 += v
    print(k,":",v)
a_4 = s_1/len(s_40)

avg = [a_2, a_3, a_4]
w = np.average(avg)/avg

player_dict_temp_50 = {}

for i in player_dict_temp_40.keys():
    player_dict_temp_50[i] = (w[0]*player_dict_temp_20[i]+w[1]*player_dict_temp_30[i]+w[2]*player_dict_temp_40[i])/np.sum(w)
    
s_50 = [(k,player_dict_temp_50[k]) for k in sorted(player_dict_temp_50, key=player_dict_temp_50.get, reverse = True)]

for k,v in s_50:
    print(k,":",v)

for k,v in s_50:
    first = player_indices[np.where(player_names == k)[0][0]]
    #print(first,"->",df[' Decade_Index '][first])
    if df1['Decade_Index'][first] >= 4:
        print(k,":",v)

def bowl_calc(param):
    bowl1=np.zeros(len(df1.index))
    for i in df1.index:
        bowl1[i] = (wtrps[series_code[i]] - weighted_runs_arr[i])/(tops[series_code[i]]-df1["Overs"][i])
        e_r = df1[param][i]
        bowl1[i] = bowl1[i]/e_r
        if np.isnan(e_r) or  e_r == 0:
            bowl1[i] = 0
    return bowl1

In [26]:
def name(bowl, x):
    runs_metric = []
    player_dict_temp = {}


    for i in player_names:
        no_of_wickets=0
        spf_sum = 0
        no_series = 0
        no_balls = 0
        for j in player_dict_temp_3[i]:
            spf_sum += bowl[j]
            no_series += 1
            no_of_wickets += df1["Wickets"][j]
            #no_balls += balls[j]
        #if(no_balls > 4000):
        if(no_of_wickets > x):    
            #runs_metric_20.append(runs/no_of_matches)
            player_dict_temp[i] = spf_sum/no_series

    sum_values =sum(player_dict_temp.values())
    '''for k,v in s:
        sum_values += v
        #print(k,":",v)'''
    a = sum_values/len(player_dict_temp) 
    return player_dict_temp, a

In [27]:
def final_players(x):
    player_dict_temp_25, a_25 = name(bowl, x)
    player_dict_temp_35, a_35 = name(bowl1, x)
    player_dict_temp_45, a_45 = name(bowl2, x)
    avg_temp = [a_25, a_35, a_45]
    w_temp = np.average(avg_temp)/avg_temp

    player_dict_temp_55 = {}

    for i in player_dict_temp_45.keys():
        player_dict_temp_55[i] = (w_temp[0]*player_dict_temp_25[i]+w_temp[1]*player_dict_temp_35[i]+w_temp[2]*player_dict_temp_45[i])/np.sum(w_temp)

    s_55 = [(k,player_dict_temp_55[k]) for k in sorted(player_dict_temp_55, key=player_dict_temp_55.get, reverse = True)]
    return s_55

s_55 = final_players(50)
s_51 = final_players(150)
players_list = {}
for country in series_to_number.keys():
    #print(country)
    count=0
    players_list[country] = list()
    for k,v in s_51:
        first = player_indices[np.where(player_names == k)[0][0]]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
        if df1['Country'][first] == country:
            player = str(k)+':'+str(v)
            players_list[country] = players_list[country]+[player]
            count += 1
        if count == 5:
            break
    if count < 5:
        players_list[country] = list()
        count = 0
        for k,v in s_55:
            first = player_indices[np.where(player_names == k)[0][0]]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
            if df1['Country'][first] == country:
                player = str(k)+':'+str(v)
                players_list[country] = players_list[country]+[player]
                count += 1
            if count == 5:
                break
for k in players_list.keys():
    if k == "Other":
        break
    print(k)
    for i in players_list[k]:
        print(i)
    print("\n")

players_list = {}
for country in series_to_number.keys():
    #print(country)
    count=0
    players_list[country] = list()
    for k,v in s_51:
        first = player_indices[np.where(player_names == k)[0][0]]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
        if df1['Country'][first] == country and df1['Decade_Index'][first] >= 4:
            player = str(k)+':'+str(v)
            players_list[country] = players_list[country]+[player]
            count += 1
        if count == 5:
            break
    if count < 5:
        players_list[country] = list()
        count = 0
        for k,v in s_55:
            first = player_indices[np.where(player_names == k)[0][0]]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
            if df1['Country'][first] == country and df1['Decade_Index'][first] >= 4:
                player = str(k)+':'+str(v)
                players_list[country] = players_list[country]+[player]
                count += 1
            if count == 5:
                break
for k in players_list.keys():
    if k == "Other":
        break
    print(k)
    for i in players_list[k]:
        print(i)
    print("\n")

In [35]:
s_55 = final_players(50)
s_51 = final_players(80)

In [36]:
def print_country_lists(start_decade):
    players_list = {}
    for country in series_to_number.keys():
        #print(country)
        count=0
        players_list[country] = list()
        for k,v in s_51:
            first = player_indices[np.where(player_names == k)[0][0]]
            #print(first)
            #print(first,"->",df[' Decade_Index '][first])
            if df1['Country'][first] == country and df1['Decade_Index'][first] >= start_decade:
                player = str(k)+':'+str(v)
                players_list[country] = players_list[country]+[player]
                count += 1
            if count == 5:
                break
        if count < 5:
            players_list[country] = list()
            count = 0
            for k,v in s_55:
                first = player_indices[np.where(player_names == k)[0][0]]
            #print(first)
            #print(first,"->",df[' Decade_Index '][first])
                if df1['Country'][first] == country and df1['Decade_Index'][first] >= start_decade:
                    player = str(k)+':'+str(v)
                    players_list[country] = players_list[country]+[player]
                    count += 1
                if count == 5:
                    break
    for k in players_list.keys():
        if k == "Other":
            break
        print(k)
        for i in players_list[k]:
            print(i)
        print("\n")

In [37]:
print_country_lists(0)

Australia
Starc M A:1.2388290749405766
McGrath G D:1.1522008148158502
Lee B:1.146208211295317
McDermott C J:1.1277091912516441
Gillespie J N:1.1274653077834638


Pakistan
Saqlain Mushtaq:1.2071621381531552
Saeed Ajmal:1.1695551206953003
Shoaib Akhtar:1.156436966162778
Wasim Akram:1.1485713471496413
Waqar Younis:1.1067592236234771


New Zealand
Bond S E:1.3906297871768638
Boult T A:1.1765028320763427
Hadlee R J:1.1368787968044545
McClenaghan M J:1.0959435288650823
Mills K D:1.064429219922306


West Indies
Garner J:1.3061704626484367
Holding M A:1.2424226530862574
Patterson B P:1.0949245672119334
Ambrose C E L:1.0602952259660323
Narine S P:1.0460460901083466


England
Woakes C R:1.0622266411470598
Flintoff A:1.0598377194115727
Gough D:1.0246849457540568
Plunkett L E:1.0050320754042446
Anderson J M:0.9928827383675644


India
Mohammed Shami:1.10450568859448
Agarkar A B:1.079327742530633
Srinath J:1.0203012916836718
Ashwin R:1.01687582830828
Kapil Dev:1.0159956720620331


Sri Lanka
Muralitharan M:1.1303116628614025
Mendis B A W:1.1104545064968034
Vaas W P U J C:1.0670896523314743
Lakmal R A S:1.0536021794744328
Maharoof M F:1.028201531765211


Bangladesh
Shakib Al Hasan:0.9573634836795898
Abdur Razzak:0.8877085877334994
Mashrafe Mortaza:0.8670398840128191
Rubel Hossain:0.8544986173642762
Mohammad Rafique:0.7582040877146562


Zimbabwe
Streak H H:1.003894045648614
Price R W:0.8812124283844412
Strang P A:0.8617137372395803
Flower G W:0.7416125647912827
Whittall G J:0.7071925225288355


South Africa
Tsotsobe L L:1.264975750101218
Donald A A:1.222692315010069
Pollock S M:1.1743575046410824
Steyn D W:1.1701848014385101
Imran Tahir:1.1566878229627804

In [38]:
print_country_lists(4)

Australia
Starc M A:1.2388290749405766
Lee B:1.146208211295317
Gillespie J N:1.1274653077834638
McKay C J:1.1222032495722754
Bracken N W:1.121290927554088


Pakistan
Saeed Ajmal:1.1695551206953003
Shoaib Akhtar:1.156436966162778
Mohammad Irfan:0.9917478587010401
Naved-ul-Hasan:0.9905020403259347
Mohammad Sami:0.9851674199654581


New Zealand
Bond S E:1.3906297871768638
Boult T A:1.1765028320763427
McClenaghan M J:1.0959435288650823
Mills K D:1.064429219922306
Oram J D P:1.0223405857280168


West Indies
Narine S P:1.0460460901083466
Taylor J E:1.035142409920444
Rampaul R:1.0075384251175263
Dillon M V:1.006450192573449
Bravo D J J:0.9842150700479286


England
Woakes C R:1.0622266411470598
Flintoff A:1.0598377194115727
Plunkett L E:1.0050320754042446
Anderson J M:0.9928827383675644
Finn S T:0.987434484853701


India
Mohammed Shami:1.10450568859448
Agarkar A B:1.079327742530633
Ashwin R:1.01687582830828
Khan Z:1.0012906650085416
Pathan I K:0.990086795460797


Sri Lanka
Mendis B A W:1.1104545064968034
Lakmal R A S:1.0536021794744328
Maharoof M F:1.028201531765211
Malinga S L:1.0193077678969815
Zoysa D N T:1.0087942816303301


Bangladesh
Mustafizur Rahman:1.4501999868731739
Shakib Al Hasan:0.9572994097179429
Abdur Razzak:0.887673400729724
Mashrafe Mortaza:0.866948411588896
Rubel Hossain:0.8547088596263731


Zimbabwe
Mupariwa T:0.9478030296286039
Price R W:0.8806085348335317
Brent G B:0.8041978129861594
Mpofu C B:0.6705061772101305
Utseya P:0.6684014326724154


South Africa
Tsotsobe L L:1.264975750101218
Pollock S M:1.1743575046410824
Steyn D W:1.1701848014385101
Imran Tahir:1.1566878229627804
Nel A:1.1526924655355817

In [32]:
def print_alltime_lists(start_decade):    
    for k,v in s_51:
        first = player_indices[np.where(player_names == k)[0][0]]
        #print(first,"->",df[' Decade_Index '][first])
        if df1['Decade_Index'][first] >= start_decade:
            print(k,":",v)

In [ ]:
last = player_dict_temp_3[k][-1]

In [33]:
print_alltime_lists(0)

Bond S E : 1.389097579056246
Garner J : 1.305133325499127
Holding M A : 1.2417925908587695
Starc M A : 1.2376191681540845
Donald A A : 1.2216394220226576
Saqlain Mushtaq : 1.2061866683910218
Boult T A : 1.1756741703575828
Pollock S M : 1.1740905002706719
Steyn D W : 1.1692471016571977
Saeed Ajmal : 1.1689634771634747
Imran Tahir : 1.1560239939938994
Shoaib Akhtar : 1.1554521863368241
McGrath G D : 1.1520650533675674
Nel A : 1.151831307125595
Wasim Akram : 1.147852779988122
Lee B : 1.1453442239059861
Ntini M : 1.14453607640886
Hadlee R J : 1.1364673427642138
Muralitharan M : 1.129878433621602
McDermott C J : 1.1270043750229475
Gillespie J N : 1.1269371505519625
Bracken N W : 1.1207504029055264
Mendis B A W : 1.109721769901392
Waqar Younis : 1.1058832721006693
Fleming D W : 1.1023002540912394
Lillee D K : 1.0940464942094417
Johnson M G : 1.0879537705745081
Warne S K : 1.086450603326279
Agarkar A B : 1.078587383147578
Imran Khan : 1.0777110369882252
Vaas W P U J C : 1.066788644842055
Morkel M : 1.0661697895769922
Mills K D : 1.0639692189492937
Woakes C R : 1.0618435429568256
Ambrose C E L : 1.0603149177257363
Flintoff A : 1.0593348456731841
Reiffel P R : 1.0421555986298945
Chatfield E J : 1.0393275433854368
Taylor J E : 1.0346177478150886
Maharoof M F : 1.0277706553180066
Gough D : 1.0242542277440179
Oram J D P : 1.022362510963004
Srinath J : 1.019872519317005
Malinga S L : 1.0187898441110865
Pringle C : 1.0170423014264747
Ashwin R : 1.0166258099819074
Marshall M D : 1.0160647594855627
Kapil Dev : 1.0158700818482502
Hogg G B : 1.0147482736236797
Zoysa D N T : 1.008519458690223
Rampaul R : 1.0070895304665528
Dillon M V : 1.0060735174172648
Streak H H : 1.0034822293458165
Khan Z : 1.0010397598732954
Anderson J M : 0.9925386310002567
Naved-ul-Hasan : 0.9898980308244386
Pathan I K : 0.9896079420185205
Bishop I R : 0.9864836882492932
Mohammad Sami : 0.9846875604022495
Bravo D J J : 0.9837153980875886
Walsh C A : 0.9802313959441863
Prabhakar M M : 0.9800670420276341
Nehra A : 0.9764495045525015
Broad S C J : 0.9732817281667789
Sharma I : 0.9690709260770668
Vettori D L : 0.9659493337562962
Prasad B K V : 0.9601382335660285
Fernando C R D : 0.9591367451222971
Shakib Al Hasan : 0.9574102328160555
Kumble A : 0.9532295331749366
Perera N L T C : 0.9521245490593251
Yadav U T : 0.9518048489083896
Snedden M C : 0.9511547397567295
Morrison D K : 0.9510840280700913
Kallis J H : 0.950288490420386
Abdul Razzaq : 0.943752365798544
Umar Gul : 0.9434171754730948
Botham I T : 0.9430133367100402
Symonds A : 0.9401605721415192
O'Donnell S P : 0.9401562672970132
Abdul Qadir : 0.9376730738349601
Styris S B : 0.9269109539560446
Swann G P : 0.9261025953334266
Klusener L : 0.9239622864261336
Shahid Afridi : 0.923724486844628
Harbhajan Singh : 0.9215725253555017
Aaqib Javed : 0.9143078611460844
Bresnan T T : 0.9043644560629914
Mathews A D : 0.9039306294926578
Kulasekara K M D N : 0.9035313005749354
Jadeja R A : 0.8940149376326703
Cairns C L : 0.8940133400231284
Abdur Razzak : 0.8877340896832934
Tuffey D R : 0.8774797247316264
Mohammad Hafeez : 0.8743890601065406
Mushtaq Ahmed : 0.8733371525209768
Mashrafe Mortaza : 0.867120159672796
Watson S R : 0.8668300928511238
Southee T G : 0.8668059250789389
de Silva P A : 0.8660211029412602
Richards I V A : 0.8653099639215533
Larsen G R : 0.8618409261039229
Rubel Hossain : 0.854318084754986
Gayle C H : 0.8532521285604682
Hooper C L : 0.8488236408615882
Chandana U D U : 0.8360456999613364
Mudassar Nazar : 0.8339667829547862
Dharmasena H D P K : 0.8299746223019318
Waugh S R : 0.8269499825431219
De Freitas P A J : 0.8249146490156772
Wickramasinghe G P : 0.8223188799444577
Cronje W J : 0.817068683556434
Jayasuriya S T : 0.8151494647046976
Shastri R J : 0.8119540673704855
Harris C Z : 0.8047986940956908
Shoaib Malik : 0.7756399906360512
Flower G W : 0.7420050552484659
Azhar Mahmood : 0.7309549373404647
Dilshan T M : 0.7256294623256047
Yuvraj Singh : 0.7089125156935884
Tendulkar S R : 0.7023246853495112
Utseya P : 0.670555408390575

In [34]:
print_alltime_lists(4)

Bond S E : 1.389097579056246
Starc M A : 1.2376191681540845
Boult T A : 1.1756741703575828
Pollock S M : 1.1740905002706719
Steyn D W : 1.1692471016571977
Saeed Ajmal : 1.1689634771634747
Imran Tahir : 1.1560239939938994
Shoaib Akhtar : 1.1554521863368241
Nel A : 1.151831307125595
Lee B : 1.1453442239059861
Ntini M : 1.14453607640886
Gillespie J N : 1.1269371505519625
Bracken N W : 1.1207504029055264
Mendis B A W : 1.109721769901392
Johnson M G : 1.0879537705745081
Agarkar A B : 1.078587383147578
Morkel M : 1.0661697895769922
Mills K D : 1.0639692189492937
Woakes C R : 1.0618435429568256
Flintoff A : 1.0593348456731841
Taylor J E : 1.0346177478150886
Maharoof M F : 1.0277706553180066
Oram J D P : 1.022362510963004
Malinga S L : 1.0187898441110865
Ashwin R : 1.0166258099819074
Hogg G B : 1.0147482736236797
Zoysa D N T : 1.008519458690223
Rampaul R : 1.0070895304665528
Dillon M V : 1.0060735174172648
Khan Z : 1.0010397598732954
Anderson J M : 0.9925386310002567
Naved-ul-Hasan : 0.9898980308244386
Pathan I K : 0.9896079420185205
Mohammad Sami : 0.9846875604022495
Bravo D J J : 0.9837153980875886
Nehra A : 0.9764495045525015
Broad S C J : 0.9732817281667789
Sharma I : 0.9690709260770668
Vettori D L : 0.9659493337562962
Fernando C R D : 0.9591367451222971
Shakib Al Hasan : 0.9574102328160555
Perera N L T C : 0.9521245490593251
Yadav U T : 0.9518048489083896
Kallis J H : 0.950288490420386
Abdul Razzaq : 0.943752365798544
Umar Gul : 0.9434171754730948
Symonds A : 0.9401605721415192
Styris S B : 0.9269109539560446
Swann G P : 0.9261025953334266
Klusener L : 0.9239622864261336
Shahid Afridi : 0.923724486844628
Harbhajan Singh : 0.9215725253555017
Bresnan T T : 0.9043644560629914
Mathews A D : 0.9039306294926578
Kulasekara K M D N : 0.9035313005749354
Jadeja R A : 0.8940149376326703
Abdur Razzak : 0.8877340896832934
Tuffey D R : 0.8774797247316264
Mohammad Hafeez : 0.8743890601065406
Mashrafe Mortaza : 0.867120159672796
Watson S R : 0.8668300928511238
Southee T G : 0.8668059250789389
Rubel Hossain : 0.854318084754986
Gayle C H : 0.8532521285604682
Shoaib Malik : 0.7756399906360512
Azhar Mahmood : 0.7309549373404647
Dilshan T M : 0.7256294623256047
Yuvraj Singh : 0.7089125156935884
Utseya P : 0.670555408390575

In [40]:
s_56 = final_players(5)
s_52 = final_players(20)

In [42]:
def print_country_lists_1(start_decade=8):
    players_list = {}
    for country in series_to_number.keys():
        #print(country)
        count=0
        players_list[country] = list()
        for k,v in s_52:
            last = player_dict_temp_3[k][-1]
            #print(first)
            #print(first,"->",df[' Decade_Index '][first])
            if df1['Country'][last] == country and df1['Decade_Index'][last] >= start_decade:
                player = str(k)+':'+str(v)
                players_list[country] = players_list[country]+[player]
                count += 1
            if count == 8:
                break
        if count < 8:
            players_list[country] = list()
            count = 0
            for k,v in s_56:
                last = player_dict_temp_3[k][-1]
            #print(first)
            #print(first,"->",df[' Decade_Index '][first])
                if df1['Country'][last] == country and df1['Decade_Index'][last] >= start_decade:
                    player = str(k)+':'+str(v)
                    players_list[country] = players_list[country]+[player]
                    count += 1
                if count == 8:
                    break
    for k in players_list.keys():
        if k == "Other":
            break
        print(k)
        for i in players_list[k]:
            print(i)
        print("\n")

In [43]:
print_country_lists_1()

Australia
Starc M A:1.2431613785938471
Hazlewood J R:1.0917035497786187
Cummins P J:1.0521387582105983
Coulter-Nile N M:0.9824595519625191
Faulkner J P:0.9714121732610436
Hastings J W:0.9659036649119732
Marsh M R:0.9472548328536828
Richardson K W:0.8751606514139835


Pakistan
Hasan Ali:1.466109422459048
Mohammad Amir:1.0845012670939982
Shadab Khan:1.0694963887423896
Mohammad Irfan:0.9926426782984397
Junaid Khan:0.9559151429320109
Umar Gul:0.9445113065753344
Wahab Riaz:0.93014534767647
Imad Wasim:0.9274449302561878


New Zealand
Henry M J:1.2888058917861416
Bennett H K:1.2445884224382424
Boult T A:1.1794444345935418
Santner M J:1.1125305210062377
Anderson C J:1.0637785645892877
Elliott G D:1.0435085204415562
Sodhi I S:0.9593584350717936
Bracewell D A J:0.959004320608666


West Indies
Narine S P:1.0452839278263695
Taylor J E:1.037080545526622
Bishoo D:0.9226049573491722
Miller N O:0.8667524404747831
Holder J O:0.847464740719066
Nurse A R:0.7914112267945215
Benn S J:0.763384359067206
Brathwaite C R:0.672413196695417


England
Woakes C R:1.0635768473469545
Plunkett L E:1.0071324919026037
Finn S T:0.9882832916264249
Broad S C J:0.97492958689272
Rashid A U:0.9656462924710332
Willey D J:0.9116692126834721
Stokes B A:0.8937078401084295
Jordan C J:0.8679105555637469


India
Bumrah J J:1.409359192016211
Kuldeep Yadav:1.390185722066963
Chahal Y S:1.3043655838444475
Mishra A:1.1299273184974008
Mohammed Shami:1.1071271997901657
Ashwin R:1.0176494577423512
Patel A R:0.9716384529284315
Sharma I:0.971031987072119


Sri Lanka
Lakmal R A S:1.0553298462878036
Maharoof M F:1.0297665909758644
Malinga S L:1.0211681963364123
Perera N L T C:0.9541244814619134
Dananjaya A:0.9439870482354248
Kulasekara K M D N:0.9030453761097421
Mathews A D:0.9022374040010419
Pradeep N:0.8983704955736304


Bangladesh
Mustafizur Rahman:1.4541169957177844
Shakib Al Hasan:0.9570352570176248
Taskin Ahmed:0.9371137407903087
Mashrafe Mortaza:0.8667131061195509
Rubel Hossain:0.8552913290108483
Mahmudullah:0.8214751445217462
Shafiul Islam:0.7662997426688342
Nasir Hossain:0.695516225131605


Zimbabwe
Mupariwa T:0.949139376974728
Vitori B V:0.9115551415365305
Masakadza H:0.8790398186226779
Chatara T L:0.853839722612416
Jarvis K M:0.6968334806722188
Cremer A G:0.6877487629486392
Mpofu C B:0.6695666604339484
Panyangara T:0.6550245256837903


South Africa
Rabada K:1.1929100132929475
Steyn D W:1.1735004635323751
Imran Tahir:1.1588863142562278
Morkel M:1.0684734298941152
Phangiso A M:0.9902572568225871
Parnell W D:0.9563597627429954
Abbott K J:0.9193710662618064
Morris C H:0.8749612430863404