In [123]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
df1 = pd.read_csv("records_final_series_test_final_bowlers_v6.csv")

In [19]:
df1.head()

,Player,Country,Mat,Overs,Maidens,Runs,Wickets,Best,5w,10w,Avg,S/R,E/R,Series_Code,H/A,Decade_Index
0,Garrett T W,Australia,2,26.1,12,48,2,2|22,0,0,24.00,52.50,2.74,1,Home,0
1,Gregory D W,Australia,2,5.0,1,9,0,0|0,0,0,NaN,NaN,2.70,1,Home,0
2,Hodges J H,Australia,2,34.0,9,84,6,2|7,0,0,14.00,22.67,3.71,1,Home,0
3,Kendall T,Australia,2,140.3,56,215,14,7|55,1,0,15.36,40.21,2.29,1,Home,0
4,Midwinter W E,Australia,2,107.1,44,156,8,5|78,1,0,19.50,53.63,2.18,1,Home,0

In [22]:
series = df1['Decade_Index'].values
number, series_unique = np.unique(series, return_inverse = True)

In [29]:
players = df1['Player'].values
player_names, player_indices = np.unique(players, return_index = True)
player_dict_temp_3 = {}
for i in df1.index:
    if df1["Player"][i] in player_dict_temp_3.keys():
        player_dict_temp_3[df1["Player"][i]] = player_dict_temp_3[df1["Player"][i]] + [i]
    else:
        player_dict_temp_3[df1["Player"][i]] = [i]

In [36]:
series_codes = df1['Series_Code'].values
series_list, series_occurances, series_code = np.unique(series_codes, return_index=True, return_inverse = True)
series_code

array([  0,   0,   0, ..., 722, 722, 722], dtype=int64)

In [31]:
series_to_number = {'Australia':0, 'Pakistan':1, 'New Zealand':2, 'West Indies':3, 'England':4, 'India' :5, 'Sri Lanka':6, 'Bangladesh':7, 'Zimbabwe':8, 'South Africa':9} 
opposition_country =[]
series_country = []
j = 0
for i in series_occurances:
    home = 0
    away = 0
    j = i
    while 1 != 0:
        #print(j)
        if df1['H/A'][j] == 'Home' and home == 0:
            #print(df['Country'][j])
            series_country.append(series_to_number[df1['Country'][j]]) 
            home = home + 1
        elif df1['H/A'][j] == 'Away' and away == 0:    
            #print(df['Country'][j])
            opposition_country.append(series_to_number[df1['Country'][j]]) 
            away = away + 1
        elif home == 1 and away == 1:
            #print("hello")
            break
        j = j + 1

In [140]:
trps = np.zeros(723)
twps = np.zeros(723)
tops = np.zeros(723)
tbps = np.zeros(723)
balls = np.zeros(len(df1.index))
for i in df1.index:
    avg = df1["Avg"][i]
    if not np.isnan(avg):
        trps[series_code[i]] += df1["Runs"][i]
        twps[series_code[i]] += df1["Wickets"][i]
        balls[i] = math.floor(df1["Overs"][i])*6 + (df1["Overs"][i]- math.floor(df1["Overs"][i]))*10
        tbps[series_code[i]] += balls[i]
        
    tops[series_code[i]] += df1["Overs"][i]

In [144]:
balls[2848]

18.0

In [101]:
bowl=np.zeros(len(df1.index))
for i in df1.index:
    bowl[i] = (trps[series_code[i]] - df1["Runs"][i])/(twps[series_code[i]]-df1["Wickets"][i])
    avg = df1["Avg"][i]
    bowl[i] = bowl[i]/avg
    if np.isnan(avg) or avg == 0:
        bowl[i] = 0

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in double_scalars
  """

In [108]:
args=np.argsort(bowl)[-15:]
args

array([11827, 10144,  8858,  1544,  1831,  9356,  8803,  6664,  4700,
        4368,  4174,  8156,  9636,  2848,  2260], dtype=int64)

In [152]:
runs_metric_20 = []
player_dict_temp_20 = {}


for i in player_names:
    no_of_wickets=0
    no_balls = 0
    spf_sum = 0
    no_series = 0
    for j in player_dict_temp_3[i]:
        spf_sum += bowl[j]
        no_series += 1
        #no_of_wickets += df1["Wickets"][j]
        no_balls += balls[j]
    if(no_balls > 3000):    
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_20[i] = spf_sum/no_series
    
s_20 = [(k,player_dict_temp_20[k]) for k in sorted(player_dict_temp_20, key=player_dict_temp_20.get, reverse = True)]
s =0
for k,v in s_20:
    s += v
    #print(k,":",v)
a_2 = s/len(s_20)

0.9758616794514878

In [153]:
bowl1=np.zeros(len(df1.index))
for i in df1.index:
    bowl1[i] = (trps[series_code[i]] - df1["Runs"][i])/(tops[series_code[i]]-df1["Overs"][i])
    e_r = df1["E/R"][i]
    bowl1[i] = bowl1[i]/e_r
    if e_r == 0:
        bowl1[i] = 0
bowl1[:14]

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in double_scalars
  """

array([0.52028784, 0.53173645, 0.37644971, 0.62007683, 0.65832823,
       0.36539399, 0.87259057, 0.19008887, 0.66558971, 0.62359731,
       0.64550357, 1.1643397 , 0.58270531, 0.59529674])

In [154]:
runs_metric_30 = []
player_dict_temp_30 = {}


for i in player_names:
    no_of_wickets1=0
    spf_sum1 = 0
    no_series1 = 0
    no_balls = 0
    for j in player_dict_temp_3[i]:
        spf_sum1 += bowl1[j]
        no_series1 += 1
        #no_of_wickets1 += df1["Wickets"][j]
        no_balls += balls[j]
    if(no_balls > 3000):    
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_30[i] = spf_sum1/no_series1
    
s_30 = [(k,player_dict_temp_30[k]) for k in sorted(player_dict_temp_30, key=player_dict_temp_30.get, reverse = True)]

s =0
for k,v in s_30:
    s += v
    #print(k,":",v)
a_3 = s/len(s_30)

1.0016477139338258

In [155]:
bowl2=np.zeros(len(df1.index))
for i in df1.index:
    bowl2[i] = (tbps[series_code[i]] - balls[i])/(twps[series_code[i]]-df1["Wickets"][i])
    s_r = df1["S/R"][i]
    bowl2[i] = bowl2[i]/s_r
    if np.isnan(s_r) or s_r == 0:
        bowl2[i] = 0

In [156]:
runs_metric_40 = []
player_dict_temp_40 = {}


for i in player_names:
    no_of_wickets2=0
    spf_sum2 = 0
    no_series2 = 0
    no_balls = 0
    for j in player_dict_temp_3[i]:
        spf_sum2 += bowl2[j]
        no_series2 += 1
        #no_of_wickets2 += df1["Wickets"][j]
        no_balls += balls[j]
    if(no_balls > 3000):
    #if(no_of_wickets2 > 100):    
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_40[i] = spf_sum2/no_series2
    
s_40 = [(k,player_dict_temp_40[k]) for k in sorted(player_dict_temp_40, key=player_dict_temp_40.get, reverse = True)]

s_1 =0
for k,v in s_40:
    s += v
    #print(k,":",v)
a_4 = s/len(s_40)

0.9395835806966816

In [ ]:
w = np.sum()

In [ ]:
player_dict_temp_50 = {}

for i in player_names:
    player_dict_temp_50[i] =