In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df1 = pd.read_csv("records_final_series_test_final_bowlers_v6.csv")

In [5]:
df1.head()

,Player,Country,Mat,Overs,Maidens,Runs,Wickets,Best,5w,10w,Avg,S/R,E/R,Series_Code,H/A,Decade_Index
0,Garrett T W,Australia,2,26.1,12,48,2,2|22,0,0,24.00,52.50,2.74,1,Home,0
1,Gregory D W,Australia,2,5.0,1,9,0,0|0,0,0,NaN,NaN,2.70,1,Home,0
2,Hodges J H,Australia,2,34.0,9,84,6,2|7,0,0,14.00,22.67,3.71,1,Home,0
3,Kendall T,Australia,2,140.3,56,215,14,7|55,1,0,15.36,40.21,2.29,1,Home,0
4,Midwinter W E,Australia,2,107.1,44,156,8,5|78,1,0,19.50,53.63,2.18,1,Home,0

In [6]:
series = df1['Decade_Index'].values
number, series_unique = np.unique(series, return_inverse = True)

In [7]:
series

array([ 0,  0,  0, ..., 13, 13, 13], dtype=int64)

In [8]:
number

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13], dtype=int64)

In [9]:
series_unique

array([ 0,  0,  0, ..., 13, 13, 13], dtype=int64)

In [10]:
players = df1['Player'].values
player_names, player_indices = np.unique(players, return_index = True)
player_dict_temp_3 = {}
for i in df1.index:
    if df1["Player"][i] in player_dict_temp_3.keys():
        player_dict_temp_3[df1["Player"][i]] = player_dict_temp_3[df1["Player"][i]] + [i]
    else:
        player_dict_temp_3[df1["Player"][i]] = [i]

In [14]:
series_codes = df1['Series_Code'].values
series_list, series_occurances = np.unique(series_codes, return_index=True)

In [15]:
series_to_number = {'Australia':0, 'Pakistan':1, 'New Zealand':2, 'West Indies':3, 'England':4, 'India' :5, 'Sri Lanka':6, 'Bangladesh':7, 'Zimbabwe':8, 'South Africa':9} 
opposition_country =[]
series_country = []
j = 0
for i in series_occurances:
    home = 0
    away = 0
    j = i
    while 1 != 0:
        #print(j)
        if df1[' H/A'][j] == 'Home' and home == 0:
            #print(df['Country'][j])
            series_country.append(series_to_number[df1['Country'][j]]) 
            home = home + 1
        elif df1[' H/A'][j] == 'Away' and away == 0:    
            #print(df['Country'][j])
            opposition_country.append(series_to_number[df1['Country'][j]]) 
            away = away + 1
        elif home == 1 and away == 1:
            #print("hello")
            break
        j = j + 1

723