In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df1 = pd.read_csv("records_final_series_test_final_bowlers_v6.csv")

In [3]:
df1.head()

,Player,Country,Mat,Overs,Maidens,Runs,Wickets,Best,5w,10w,Avg,S/R,E/R,Series_Code,H/A,Decade_Index
0,Garrett T W,Australia,2,26.1,12,48,2,2|22,0,0,24.00,52.50,2.74,1,Home,0
1,Gregory D W,Australia,2,5.0,1,9,0,0|0,0,0,NaN,NaN,2.70,1,Home,0
2,Hodges J H,Australia,2,34.0,9,84,6,2|7,0,0,14.00,22.67,3.71,1,Home,0
3,Kendall T,Australia,2,140.3,56,215,14,7|55,1,0,15.36,40.21,2.29,1,Home,0
4,Midwinter W E,Australia,2,107.1,44,156,8,5|78,1,0,19.50,53.63,2.18,1,Home,0

In [4]:
df1.sort_values(['Series_Code', 'Mat'], ascending=[True, False], inplace=True)

In [5]:
df1

,Player,Country,Mat,Overs,Maidens,Runs,Wickets,Best,5w,10w,Avg,S/R,E/R,Series_Code,H/A,Decade_Index
0,Garrett T W,Australia,2,26.1,12,48,2,2|22,0,0,24.00,52.50,2.74,1,Home,0
1,Gregory D W,Australia,2,5.0,1,9,0,0|0,0,0,NaN,NaN,2.70,1,Home,0
2,Hodges J H,Australia,2,34.0,9,84,6,2|7,0,0,14.00,22.67,3.71,1,Home,0
3,Kendall T,Australia,2,140.3,56,215,14,7|55,1,0,15.36,40.21,2.29,1,Home,0
4,Midwinter W E,Australia,2,107.1,44,156,8,5|78,1,0,19.50,53.63,2.18,1,Home,0
6,Thompson N,Australia,2,28.0,16,31,1,1|14,0,0,31.00,112.00,1.66,1,Home,0
7,Armitage T,England,2,3.0,0,15,0,0|0,0,0,NaN,NaN,7.50,1,Away,0
8,Emmett T,England,2,25.0,13,36,0,0|0,0,0,NaN,NaN,2.16,1,Away,0
9,Hill A,England,2,85.0,37,130,7,4|27,0,0,18.57,48.57,2.29,1,Away,0
10,Lillywhite J,England,2,85.0,37,126,8,4|70,0,0,15.75,42.50,2.22,1,Away,0
11,Shaw A,England,2,163.3,96,146,8,5|38,1,0,18.25,81.88,1.34,1,Away,0
12,Southerton J,England,2,65.3,30,107,7,4|46,0,0,15.29,37.57,2.44,1,Away,0
13,Ulyett G,England,2,77.1,34,123,6,3|39,0,0,20.50,51.50,2.39,1,Away,0
5,Spofforth F R,Australia,1,44.0,9,111,4,3|67,0,0,27.75,44.00,3.78,1,Home,0
14,Allan F E,Australia,1,45.0,15,80,4,2|30,0,0,20.00,45.00,2.67,2,Home,0
15,Boyle H F,Australia,1,17.0,5,27,2,1|11,0,0,13.50,34.00,2.38,2,Home,0
16,Garrett T W,Australia,1,15.0,6,36,1,1|18,0,0,36.00,60.00,3.60,2,Home,0
17,Spofforth F R,Australia,1,60.0,25,110,13,7|62,2,1,8.46,18.46,2.75,2,Home,0
18,Emmett T,England,1,59.0,31,68,7,7|68,1,0,9.71,33.71,1.73,2,Away,0
19,Harris L,England,1,3.0,0,14,0,0|0,0,0,NaN,NaN,7.00,2,Away,0
20,Hornby A N,England,1,7.0,7,0,1,1|0,0,0,0.00,28.00,0.00,2,Away,0
21,Lucas A P,England,1,18.0,6,31,0,0|0,0,0,NaN,NaN,2.58,2,Away,0
22,Royle V P F,England,1,4.0,1,6,0,0|0,0,0,NaN,NaN,2.25,2,Away,0
23,Schultz S S,England,1,8.0,3,26,1,1|16,0,0,26.00,34.00,4.59,2,Away,0
24,Ulyett G,England,1,63.0,24,102,1,1|93,0,0,102.00,252.00,2.43,2,Away,0
25,Barnes W,England,1,8.3,3,17,1,1|17,0,0,17.00,35.00,2.91,3,Home,0
26,Grace W G,England,1,29.1,10,68,3,2|66,0,0,22.67,39.00,3.49,3,Home,0
27,Lucas A P,England,1,12.0,7,23,0,0|0,0,0,NaN,NaN,2.88,3,Home,0
28,Morley F,England,1,93.0,39,146,8,5|56,1,0,18.25,46.50,2.35,3,Home,0
29,Penn F,England,1,3.0,1,2,0,0|0,0,0,NaN,NaN,1.00,3,Home,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12312,Philander V D,South Africa,4,121.0,45,257,10,3|30,0,0,25.70,72.60,2.12,734,Home,13
12313,Rabada K,South Africa,4,137.5,39,436,23,6|54,2,1,18.96,35.96,3.16,734,Home,13
12314,Cummins P J,Australia,4,155.4,32,472,22,5|83,1,0,21.45,42.45,3.03,734,Away,13
12315,Hazlewood J R,Australia,4,160.0,30,471,12,3|61,0,0,39.25,80.00,2.94,734,Away,13
12316,Lyon N M,Australia,4,210.5,39,681,16,3|50,0,0,42.56,79.06,3.23,734,Away,13
12317,Marsh M R,Australia,4,42.0,6,169,4,2|26,0,0,42.25,63.00,4.02,734,Away,13
12310,Morkel M,South Africa,3,88.0,24,284,15,5|23,1,0,18.93,35.20,3.23,734,Home,13
12320,Smith S P D,Australia,3,7.0,4,9,0,0|0,0,0,NaN,NaN,1.29,734,Away,13
12321,Starc M A,Australia,3,109.2,18,413,12,5|34,1,0,34.42,54.67,3.78,734,Away,13
12305,Bavuma T,South Africa,2,1.0,0,10,0,0|0,0,0,NaN,NaN,10.00,734,Home,13
12306,de Bruyn T B,South Africa,2,2.0,0,6,0,0|0,0,0,NaN,NaN,3.00,734,Home,13
12311,Ngidi L,South Africa,1,26.3,8,75,5,3|51,0,0,15.00,31.80,2.83,734,Home,13
12318,Renshaw M T,Australia,1,4.0,0,13,0,0|4,0,0,NaN,NaN,3.25,734,Away,13
12319,Sayers C J,Australia,1,49.0,11,146,2,2|78,0,0,73.00,147.00,2.98,734,Away,13
12323,Boult T A,New Zealand,2,94.3,22,275,15,6|32,1,0,18.33,37.80,2.91,735,Home,13
12324,de Grandhomme C,New Zealand,2,67.0,16,178,4,4|94,0,0,44.50,100.50,2.66,735,Home,13
12326,Southee T G,New Zealand,2,81.0,18,238,12,6|62,1,0,19.83,40.50,2.94,735,Home,13
12327,Wagner N,New Zealand,2,74.4,21,197,5,3|77,0,0,39.40,89.60,2.64,735,Home,13
12328,Williamson K S,New Zealand,2,1.0,0,1,0,0|0,0,0,NaN,NaN,1.00,735,Home,13
12330,Anderson J M,England,2,62.0,20,172,7,4|76,0,0,24.57,53.14,2.77,735,Away,13
12331,Broad S C J,England,2,64.3,17,148,9,6|54,1,0,16.44,43.00,2.29,735,Away,13
12334,Root J E,England,2,5.0,1,22,1,1|13,0,0,22.00,30.00,4.40,735,Away,13
12335,Stokes B A,England,2,6.0,2,17,0,0|0,0,0,NaN,NaN,2.83,735,Away,13
12322,Astle T D,New Zealand,1,16.1,5,39,3,3|39,0,0,13.00,32.33,2.41,735,Home,13
12325,Sodhi I S,New Zealand,1,16.0,0,77,0,0|31,0,0,NaN,NaN,4.81,735,Home,13
12329,Ali M M,England,1,17.0,1,59,0,0|0,0,0,NaN,NaN,3.47,735,Away,13
12332,Leach M J,England,1,22.0,4,56,0,0|4,0,0,NaN,NaN,2.55,735,Away,13
12333,Overton C,England,1,25.0,7,70,1,1|70,0,0,70.00,150.00,2.80,735,Away,13
12336,Woakes C R,England,1,33.0,9,107,0,0|0,0,0,NaN,NaN,3.24,735,Away,13
12337,Wood M A,England,1,23.0,3,82,0,0|13,0,0,NaN,NaN,3.57,735,Away,13

In [6]:
series = df1['Decade_Index'].values
number, series_unique = np.unique(series, return_inverse = True)

In [7]:
players = df1['Player'].values
player_names, player_indices = np.unique(players, return_index = True)
player_dict_temp_3 = {}
for i in df1.index:
    if df1["Player"][i] in player_dict_temp_3.keys():
        player_dict_temp_3[df1["Player"][i]] = player_dict_temp_3[df1["Player"][i]] + [i]
    else:
        player_dict_temp_3[df1["Player"][i]] = [i]

In [8]:
series_codes = df1['Series_Code'].values
series_list, series_occurances, series_code = np.unique(series_codes, return_index=True, return_inverse = True)
series_code

array([  0,   0,   0, ..., 722, 722, 722], dtype=int64)

In [9]:
series_to_number = {'Australia':0, 'Pakistan':1, 'New Zealand':2, 'West Indies':3, 'England':4, 'India' :5, 'Sri Lanka':6, 'Bangladesh':7, 'Zimbabwe':8, 'South Africa':9} 
opposition_country =[]
series_country = []
j = 0
for i in series_occurances:
    home = 0
    away = 0
    j = i
    while 1 != 0:
        #print(j)
        if df1['H/A'][j] == 'Home' and home == 0:
            #print(df['Country'][j])
            series_country.append(series_to_number[df1['Country'][j]]) 
            home = home + 1
        elif df1['H/A'][j] == 'Away' and away == 0:    
            #print(df['Country'][j])
            opposition_country.append(series_to_number[df1['Country'][j]]) 
            away = away + 1
        elif home == 1 and away == 1:
            #print("hello")
            break
        j = j + 1

In [10]:
series_country

[0,
 0,
 4,
 0,
 4,
 0,
 4,
 0,
 4,
 0,
 0,
 4,
 9,
 4,
 0,
 9,
 4,
 0,
 9,
 4,
 0,
 9,
 4,
 0,
 4,
 9,
 0,
 4,
 9,
 4,
 0,
 4,
 9,
 0,
 0,
 9,
 0,
 4,
 9,
 9,
 4,
 0,
 4,
 9,
 4,
 0,
 4,
 2,
 3,
 4,
 0,
 9,
 4,
 0,
 2,
 4,
 0,
 2,
 4,
 5,
 4,
 3,
 4,
 9,
 4,
 0,
 4,
 4,
 9,
 4,
 2,
 4,
 0,
 2,
 4,
 0,
 3,
 4,
 5,
 9,
 4,
 9,
 4,
 0,
 2,
 4,
 5,
 0,
 2,
 4,
 5,
 0,
 3,
 2,
 4,
 9,
 3,
 4,
 0,
 1,
 2,
 3,
 4,
 1,
 5,
 2,
 4,
 1,
 5,
 9,
 4,
 9,
 3,
 4,
 5,
 0,
 1,
 2,
 4,
 1,
 5,
 3,
 4,
 5,
 0,
 4,
 1,
 5,
 9,
 3,
 4,
 0,
 2,
 4,
 0,
 5,
 2,
 4,
 5,
 1,
 0,
 9,
 2,
 5,
 3,
 1,
 4,
 4,
 0,
 2,
 4,
 5,
 9,
 4,
 4,
 0,
 3,
 2,
 4,
 0,
 1,
 2,
 4,
 4,
 5,
 1,
 5,
 9,
 0,
 3,
 2,
 4,
 4,
 3,
 4,
 5,
 0,
 2,
 3,
 1,
 4,
 4,
 0,
 3,
 2,
 4,
 4,
 5,
 0,
 1,
 2,
 4,
 0,
 2,
 3,
 4,
 1,
 5,
 5,
 0,
 2,
 3,
 0,
 4,
 0,
 1,
 2,
 3,
 4,
 4,
 1,
 0,
 5,
 2,
 0,
 4,
 5,
 5,
 0,
 0,
 2,
 5,
 1,
 4,
 4,
 1,
 0,
 0,
 3,
 2,
 4,
 0,
 5,
 0,
 6,
 2,
 1,
 4,
 4,
 5,
 1,
 0,
 1,
 3,
 2,
 6,
 4,
 5,
 5,
 0,
 2,
 1,
 3,
 6,
 4,
 4,
 1,
 0,
 1,
 5,
 2,
 3,
 4,
 6,
 1,
 0,
 0,
 2,
 3,
 6,
 4,
 4,
 5,
 1,
 0,
 5,
 5,
 2,
 6,
 4,
 5,
 1,
 0,
 0,
 0,
 2,
 3,
 4,
 4,
 1,
 5,
 0,
 2,
 3,
 4,
 1,
 0,
 0,
 0,
 2,
 3,
 2,
 4,
 4,
 1,
 1,
 0,
 5,
 2,
 3,
 4,
 4,
 0,
 1,
 2,
 3,
 4,
 6,
 8,
 8,
 9,
 0,
 6,
 2,
 5,
 2,
 5,
 6,
 3,
 4,
 6,
 6,
 0,
 1,
 6,
 0,
 5,
 2,
 3,
 9,
 2,
 4,
 4,
 6,
 1,
 8,
 5,
 0,
 9,
 9,
 8,
 2,
 2,
 3,
 2,
 4,
 1,
 0,
 5,
 9,
 8,
 0,
 2,
 2,
 3,
 4,
 4,
 6,
 5,
 1,
 0,
 1,
 5,
 8,
 9,
 2,
 9,
 2,
 3,
 6,
 4,
 3,
 6,
 8,
 1,
 0,
 5,
 1,
 0,
 6,
 3,
 9,
 2,
 5,
 8,
 9,
 6,
 4,
 4,
 1,
 0,
 9,
 1,
 8,
 2,
 5,
 2,
 3,
 4,
 6,
 5,
 8,
 9,
 0,
 8,
 9,
 0,
 2,
 8,
 5,
 1,
 2,
 3,
 3,
 4,
 4,
 6,
 6,
 8,
 7,
 1,
 9,
 5,
 0,
 9,
 2,
 6,
 5,
 2,
 3,
 8,
 4,
 8,
 4,
 8,
 6,
 8,
 9,
 0,
 0,
 7,
 6,
 5,
 2,
 6,
 5,
 2,
 3,
 7,
 1,
 9,
 1,
 4,
 3,
 6,
 4,
 1,
 5,
 9,
 0,
 9,
 8,
 7,
 2,
 9,
 3,
 7,
 6,
 4,
 3,
 0,
 4,
 1,
 5,
 0,
 1,
 7,
 8,
 6,
 0,
 9,
 2,
 8,
 6,
 2,
 3,
 1,
 8,
 4,
 3,
 0,
 4,
 6,
 5,
 7,
 1,
 0,
 5,
 7,
 0,
 9,
 7,
 9,
 5,
 2,
 3,
 2,
 4,
 3,
 6,
 4,
 8,
 6,
 8,
 0,
 1,
 5,
 0,
 1,
 7,
 5,
 2,
 9,
 6,
 7,
 9,
 4,
 3,
 4,
 0,
 6,
 1,
 0,
 2,
 9,
 9,
 4,
 7,
 6,
 4,
 1,
 0,
 9,
 5,
 6,
 0,
 9,
 2,
 7,
 2,
 3,
 5,
 4,
 3,
 4,
 6,
 5,
 7,
 9,
 0,
 2,
 5,
 0,
 7,
 3,
 1,
 9,
 2,
 4,
 6,
 4,
 3,
 6,
 5,
 2,
 0,
 9,
 0,
 7,
 5,
 2,
 7,
 2,
 4,
 3,
 1,
 6,
 4,
 5,
 5,
 1,
 6,
 0,
 9,
 2,
 3,
 4,
 3,
 4,
 8,
 6,
 8,
 1,
 7,
 8,
 5,
 9,
 0,
 7,
 9,
 0,
 1,
 2,
 2,
 6,
 3,
 4,
 6,
 4,
 3,
 5,
 0,
 7,
 5,
 6,
 0,
 9,
 9,
 5,
 2,
 6,
 3,
 8,
 4,
 4,
 8,
 7,
 1,
 5,
 0,
 2,
 9,
 1,
 7,
 2,
 9,
 3,
 4,
 4,
 6,
 6,
 8,
 3,
 1,
 7,
 1,
 0,
 9,
 2,
 3,
 7,
 4,
 3,
 7,
 6,
 4,
 7,
 6,
 1,
 6,
 0,
 5,
 0,
 2,
 9,
 2,
 4,
 4,
 3,
 6,
 8,
 9,
 5,
 1,
 7,
 8,
 0,
 5,
 2,
 0,
 9,
 2,
 5,
 5,
 6,
 2,
 3,
 4,
 6,
 6,
 4,
 7,
 1,
 9,
 8,
 5,
 0,
 2,
 9,
 9,
 7,
 9,
 2]

In [11]:
len(series_country)

723

In [12]:
trps = np.zeros(723)
twps = np.zeros(723)
tops = np.zeros(723)
tbps = np.zeros(723)
balls = np.zeros(len(df1.index))
for i in df1.index:
    avg = df1["Avg"][i]
    if not np.isnan(avg):
        trps[series_code[i]] += df1["Runs"][i]
        twps[series_code[i]] += df1["Wickets"][i]
        balls[i] = math.floor(df1["Overs"][i])*6 + (df1["Overs"][i]- math.floor(df1["Overs"][i]))*10
        tbps[series_code[i]] += balls[i]
        
    tops[series_code[i]] += df1["Overs"][i]

In [13]:
balls[2848]

18.0

In [14]:
arpspc = np.zeros(10)
tmpc = np.zeros(10)
for i in range(len(trps)):
    arpspc[series_country[i]] += trps[i]

In [15]:
bowl=np.zeros(len(df1.index))
for i in df1.index:
    bowl[i] = (trps[series_code[i]] - df1["Runs"][i])/(twps[series_code[i]]-df1["Wickets"][i])
    avg = df1["Avg"][i]
    bowl[i] = bowl[i]/avg
    if np.isnan(avg) or avg == 0:
        bowl[i] = 0

C:\Users\Vasthav\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in double_scalars
  """

In [16]:
args=np.argsort(bowl)[-15:]
args

array([11827, 10144,  8858,  1544,  1831,  9356,  8803,  6664,  4700,
        4368,  4174,  8156,  9636,  2848,  2260], dtype=int64)

In [17]:
runs_metric_20 = []
player_dict_temp_20 = {}


for i in player_names:
    no_of_wickets=0
    no_balls = 0
    spf_sum = 0
    no_series = 0
    for j in player_dict_temp_3[i]:
        spf_sum += bowl[j]
        no_series += 1
        no_of_wickets += df1["Wickets"][j]
        #no_balls += balls[j]
    #if(no_balls > 3000):    
    if(no_of_wickets > 150): 
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_20[i] = spf_sum/no_series
    
s_20 = [(k,player_dict_temp_20[k]) for k in sorted(player_dict_temp_20, key=player_dict_temp_20.get, reverse = True)]
s =0
for k,v in s_20:
    s += v
    print(k,":",v)
a_2 = s/len(s_20)

Shoaib Akhtar : 2.31436124903
Grimmett C V : 1.74104661707
Steyn D W : 1.58704049043
Tate M W : 1.5717237002
Muralitharan M : 1.565875378
Pollock S M : 1.51023071562
McGrath G D : 1.46251519095
Garner J : 1.44018745713
Jadeja R A : 1.43827785874
Ambrose C E L : 1.43242455149
Imran Khan : 1.41920920988
Lock G A R : 1.39488599807
Marshall M D : 1.36140303251
Laker J C : 1.359801554
Hadlee R J : 1.359604558
Trueman F S : 1.35650291488
Donald A A : 1.34345054941
Holding M A : 1.33981630388
Ashwin R : 1.33820831222
Philander V D : 1.33664156494
Miller K R : 1.33614821411
Davidson A K : 1.33600295327
Gillespie J N : 1.32986158859
Hazlewood J R : 1.31256950385
Johnston W A : 1.3050812101
Warne S K : 1.28026714932
Lillee D K : 1.27275840764
Anderson J M : 1.25975978118
Johnson M G : 1.24827283454
McKenzie G D : 1.24453826468
Yasir Shah : 1.24223794941
MacGill S C G : 1.23460446266
Lee B : 1.22692748889
Fraser A R C : 1.22493569701
Walsh C A : 1.22178632378
Harmison S J : 1.20956471164
Swann G P : 1.20595458316
Kumble A : 1.20588090351
Martin C S : 1.20546858908
Hall W W : 1.20512176204
Roberts A M E : 1.20086501576
Waqar Younis : 1.19567742576
Boult T A : 1.19547621907
Wasim Akram : 1.18535251061
Morkel M : 1.18201332895
Lindwall R R : 1.15642192334
Underwood D L : 1.15537248038
Bedser A V : 1.14883281071
Bishop I R : 1.14879340964
Saqlain Mushtaq : 1.14420363365
Khan Z : 1.14293466581
Hughes M G : 1.14290861976
Siddle P M : 1.14282097619
Starc M A : 1.14236225293
Ramadhin S : 1.14097151686
Tayfield H J : 1.14079397736
Statham J B : 1.13950352892
Vaas W P U J C : 1.12942969752
Ntini M : 1.12458834128
Kapil Dev : 1.12298219507
Herath H M R K B : 1.12175722681
Willis R G D : 1.1101367915
Srinath J : 1.10565088142
Streak H H : 1.09762898981
Snow J A : 1.09627123435
Hoggard M J : 1.09071820996
Sharma I : 1.09031350073
Broad S C J : 1.08425409934
Botham I T : 1.07852277442
Benaud R : 1.06972533523
Gibbs L R : 1.06762371259
Titmus F J : 1.06534450107
Caddick A R : 1.06282190608
Cairns C L : 1.05757115111
Southee T G : 1.05158797812
Lyon N M : 1.04948344345
Sarfraz Nawaz : 1.02609215472
Edwards F H : 1.02433063471
Bedi B S : 1.02387921291
Umar Gul : 1.02095861394
Iqbal Qasim M : 1.01952051368
Saeed Ajmal : 1.01527989752
Harbhajan Singh : 1.00973692698
Thomson J R : 1.0042708198
Gough D : 1.00176988001
Sobers G S A : 1.00031726097
McDermott C J : 0.993032533589
Kallis J H : 0.990844796739
Alderman T M : 0.985960847851
Flintoff A : 0.97842167684
Vettori D L : 0.975589852143
Mankad M H : 0.974932875521
Morrison D K : 0.960572702855
Kaneria D : 0.95100516083
Abdul Qadir : 0.938569567237
Chandrasekhar B S : 0.927253313429
Shakib Al Hasan : 0.920580031277
Lawson G F : 0.920158771075
Panesar M S : 0.895490969258
Shastri R J : 0.865952992839
Prasanna E A S : 0.825127702422
Mushtaq Ahmed : 0.796431374175
Venkataraghavan S : 0.734223631983

In [18]:
bowl1=np.zeros(len(df1.index))
for i in df1.index:
    bowl1[i] = (trps[series_code[i]] - df1["Runs"][i])/(tops[series_code[i]]-df1["Overs"][i])
    e_r = df1["E/R"][i]
    bowl1[i] = bowl1[i]/e_r
    if e_r == 0:
        bowl1[i] = 0
bowl1[:14]

C:\Users\Vasthav\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in double_scalars
  """

array([ 0.52028784,  0.53173645,  0.37644971,  0.62007683,  0.65832823,
        0.36539399,  0.87259057,  0.19008887,  0.66558971,  0.62359731,
        0.64550357,  1.1643397 ,  0.58270531,  0.59529674])

In [19]:
runs_metric_30 = []
player_dict_temp_30 = {}


for i in player_names:
    no_of_wickets1=0
    spf_sum1 = 0
    no_series1 = 0
    no_balls = 0
    for j in player_dict_temp_3[i]:
        spf_sum1 += bowl1[j]
        no_series1 += 1
        no_of_wickets1 += df1["Wickets"][j]
        #no_balls += balls[j]
    #if(no_balls > 3000):  
    if(no_of_wickets1 > 150): 
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_30[i] = spf_sum1/no_series1
    
s_30 = [(k,player_dict_temp_30[k]) for k in sorted(player_dict_temp_30, key=player_dict_temp_30.get, reverse = True)]

s =0
for k,v in s_30:
    s += v
    print(k,":",v)
a_3 = s/len(s_30)

Tate M W : 1.49750839348
Gibbs L R : 1.43035113702
Johnston W A : 1.40862076978
Jadeja R A : 1.35573259142
Tayfield H J : 1.30868395648
Davidson A K : 1.28484275806
Titmus F J : 1.27332345884
Miller K R : 1.2485122247
Ambrose C E L : 1.23981408535
Iqbal Qasim M : 1.22129760909
McGrath G D : 1.21585941494
Sobers G S A : 1.21126440425
Grimmett C V : 1.20616972072
Benaud R : 1.2032064998
Sarfraz Nawaz : 1.19635681597
Hazlewood J R : 1.19307853777
Bedi B S : 1.192933338
Ramadhin S : 1.19165071004
Lock G A R : 1.18094414751
Laker J C : 1.17760484839
Underwood D L : 1.17731958583
Pollock S M : 1.16902017128
Garner J : 1.15274552246
Lindwall R R : 1.14279725645
Philander V D : 1.13871338312
Vettori D L : 1.13694927409
Muralitharan M : 1.13492831269
Siddle P M : 1.11095699652
Bedser A V : 1.11029630659
Venkataraghavan S : 1.11016427652
Kallis J H : 1.10073450113
Warne S K : 1.09536693772
Shastri R J : 1.09329570477
Gillespie J N : 1.09143723934
Imran Khan : 1.08618985965
Saqlain Mushtaq : 1.08061624778
McKenzie G D : 1.07763856572
Walsh C A : 1.07411158668
Herath H M R K B : 1.06987993667
Wasim Akram : 1.06848813046
Saeed Ajmal : 1.06795400393
Vaas W P U J C : 1.06691528401
Kumble A : 1.06321987391
Panesar M S : 1.06288112265
Boult T A : 1.06028537458
Anderson J M : 1.05879106909
Prasanna E A S : 1.0455857394
Ashwin R : 1.03884475432
Statham J B : 1.03611749757
Mankad M H : 1.03541289566
Harbhajan Singh : 1.03298476284
Roberts A M E : 1.03031447698
Broad S C J : 1.02540638474
Marshall M D : 1.02371699114
Holding M A : 1.02206555063
Flintoff A : 1.02096027595
Lillee D K : 1.01471661638
Swann G P : 1.01335032541
Harmison S J : 1.01293396548
Lyon N M : 1.01078438306
Fraser A R C : 0.998081135302
Shakib Al Hasan : 0.994230933608
Kaneria D : 0.993499294885
Southee T G : 0.986242948025
Bishop I R : 0.985146554918
Alderman T M : 0.984426918459
Shoaib Akhtar : 0.979628622772
Morkel M : 0.972872019601
Lawson G F : 0.972252044702
Sharma I : 0.970418935701
Kapil Dev : 0.967737750518
Hoggard M J : 0.961965555824
Johnson M G : 0.954147826536
Streak H H : 0.951613847711
Khan Z : 0.949347257344
Hadlee R J : 0.948918724118
Yasir Shah : 0.944244886986
Steyn D W : 0.942147698899
Abdul Qadir : 0.938617187426
Hall W W : 0.932490866108
MacGill S C G : 0.927546209161
Chandrasekhar B S : 0.9238521663
Ntini M : 0.914192062885
Lee B : 0.913112830248
Caddick A R : 0.91297726716
Srinath J : 0.912800743397
Mushtaq Ahmed : 0.911542763574
Starc M A : 0.90779315235
Thomson J R : 0.904874064697
Donald A A : 0.901124865769
Martin C S : 0.892662087747
Willis R G D : 0.892195333167
Trueman F S : 0.891296875095
Snow J A : 0.886030392156
McDermott C J : 0.871428527625
Botham I T : 0.86131884762
Waqar Younis : 0.860956422017
Hughes M G : 0.848781235043
Umar Gul : 0.816728219534
Edwards F H : 0.79938643467
Cairns C L : 0.795061956229
Morrison D K : 0.777006283592
Gough D : 0.774197510989

In [20]:
bowl2=np.zeros(len(df1.index))
for i in df1.index:
    bowl2[i] = (tbps[series_code[i]] - balls[i])/(twps[series_code[i]]-df1["Wickets"][i])
    s_r = df1["S/R"][i]
    bowl2[i] = bowl2[i]/s_r
    if np.isnan(s_r) or s_r == 0:
        bowl2[i] = 0

In [21]:
runs_metric_40 = []
player_dict_temp_40 = {}


for i in player_names:
    no_of_wickets2=0
    spf_sum2 = 0
    no_series2 = 0
    no_balls = 0
    for j in player_dict_temp_3[i]:
        spf_sum2 += bowl2[j]
        no_series2 += 1
        no_of_wickets2 += df1["Wickets"][j]
        #no_balls += balls[j]
    #if(no_balls > 3000):
    if(no_of_wickets2 > 150):    
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_40[i] = spf_sum2/no_series2
    
s_40 = [(k,player_dict_temp_40[k]) for k in sorted(player_dict_temp_40, key=player_dict_temp_40.get, reverse = True)]

s_1 =0
for k,v in s_40:
    s_1 += v
    print(k,":",v)
a_4 = s_1/len(s_40)

Shoaib Akhtar : 1.75146510962
Steyn D W : 1.59689626842
Trueman F S : 1.51329701193
Donald A A : 1.41685031374
Hadlee R J : 1.34132794927
Hall W W : 1.32558965537
Grimmett C V : 1.32397024388
Waqar Younis : 1.3189361788
Marshall M D : 1.29236742673
MacGill S C G : 1.26907695316
Holding M A : 1.25432770204
Hughes M G : 1.24954430415
Imran Khan : 1.23794377067
Lee B : 1.23744225742
Johnson M G : 1.2366641246
Muralitharan M : 1.22646695674
Garner J : 1.2247709518
Willis R G D : 1.22028482332
Starc M A : 1.21482894465
Gough D : 1.20999438604
Ashwin R : 1.19610719505
Snow J A : 1.19386768361
Yasir Shah : 1.19217974925
Botham I T : 1.18497571217
Fraser A R C : 1.18308647545
Pollock S M : 1.18003452982
Cairns C L : 1.17878974671
Umar Gul : 1.17640982447
Martin C S : 1.17365033295
Lillee D K : 1.17117214094
Edwards F H : 1.16375336224
Laker J C : 1.16103861377
Srinath J : 1.14756522934
Morkel M : 1.14699543099
McGrath G D : 1.14687518687
Roberts A M E : 1.1456534961
Philander V D : 1.14532650364
Lock G A R : 1.14287336346
Gillespie J N : 1.13775677293
Ntini M : 1.13745428073
Swann G P : 1.13054958905
Anderson J M : 1.13016067998
Morrison D K : 1.12829296757
Kapil Dev : 1.12533291328
Khan Z : 1.12336689099
Caddick A R : 1.11905099915
McKenzie G D : 1.11254717152
Bishop I R : 1.10494613076
McDermott C J : 1.10094073833
Ambrose C E L : 1.09590707252
Harmison S J : 1.0916648451
Warne S K : 1.0890146497
Statham J B : 1.07730706927
Kumble A : 1.07297075632
Boult T A : 1.07213364021
Hoggard M J : 1.07187529055
Sharma I : 1.06160658523
Wasim Akram : 1.0608065918
Walsh C A : 1.06002434632
Thomson J R : 1.05366507591
Miller K R : 1.03580168068
Hazlewood J R : 1.03286287365
Streak H H : 1.0259498778
Broad S C J : 1.01861760826
Bedser A V : 1.01420782158
Davidson A K : 1.01191668309
Jadeja R A : 1.00911957807
Herath H M R K B : 1.00277820963
Southee T G : 0.998671025168
Siddle P M : 0.992254458134
Lyon N M : 0.986635607779
Chandrasekhar B S : 0.972718304911
Lindwall R R : 0.972066477381
Vaas W P U J C : 0.969570493891
Tate M W : 0.961376270593
Saqlain Mushtaq : 0.954115393729
Abdul Qadir : 0.947502127599
Alderman T M : 0.937857221505
Lawson G F : 0.935692229567
Harbhajan Singh : 0.921304668241
Saeed Ajmal : 0.920492656988
Flintoff A : 0.909443187033
Ramadhin S : 0.907391233582
Kallis J H : 0.904451134227
Kaneria D : 0.896131988438
Benaud R : 0.871392379214
Mankad M H : 0.867578315141
Sobers G S A : 0.867068295119
Johnston W A : 0.865793369976
Underwood D L : 0.863723313912
Shakib Al Hasan : 0.849790160471
Tayfield H J : 0.848479661145
Bedi B S : 0.831136845953
Mushtaq Ahmed : 0.822868784044
Panesar M S : 0.817886479912
Iqbal Qasim M : 0.816928552335
Titmus F J : 0.815629927832
Sarfraz Nawaz : 0.81237362534
Vettori D L : 0.804333993802
Prasanna E A S : 0.784688620093
Shastri R J : 0.750528515983
Gibbs L R : 0.746304959684
Venkataraghavan S : 0.652089334511

In [22]:
avg = [a_2, a_3, a_4]
w = np.average(avg)/avg
w

array([ 0.93473205,  1.0503749 ,  1.02235515])

In [23]:
player_dict_temp_50 = {}

for i in player_dict_temp_40.keys():
    player_dict_temp_50[i] = (w[0]*player_dict_temp_20[i]+w[1]*player_dict_temp_30[i]+w[2]*player_dict_temp_40[i])/np.sum(w)
    
s_50 = [(k,player_dict_temp_50[k]) for k in sorted(player_dict_temp_50, key=player_dict_temp_50.get, reverse = True)]

for k,v in s_50:
    print(k,":",v)

Shoaib Akhtar : 1.65684692242
Grimmett C V : 1.41245679216
Steyn D W : 1.36515802769
Tate M W : 1.33832234419
Muralitharan M : 1.29998609937
Pollock S M : 1.27881407948
McGrath G D : 1.26907061865
Garner J : 1.26656799002
Jadeja R A : 1.26356055984
Ambrose C E L : 1.25075856257
Trueman F S : 1.24732730926
Imran Khan : 1.2412808422
Lock G A R : 1.23449642418
Laker J C : 1.22860084427
Marshall M D : 1.21999614675
Donald A A : 1.21391702355
Hadlee R J : 1.2099570271
Davidson A K : 1.20796521282
Miller K R : 1.20344114909
Philander V D : 1.2024783672
Holding M A : 1.1997789187
Johnston W A : 1.19191176069
Ashwin R : 1.18534793985
Gillespie J N : 1.18128638302
Hazlewood J R : 1.17575320777
Hall W W : 1.15085551553
Warne S K : 1.15067531865
Lillee D K : 1.1481025179
Anderson J M : 1.1455143516
Johnson M G : 1.14160158145
McKenzie G D : 1.14137851795
MacGill S C G : 1.1390810129
Fraser A R C : 1.13147912274
Roberts A M E : 1.1225305999
Yasir Shah : 1.12114525388
Lee B : 1.12090014657
Waqar Younis : 1.12067454516
Walsh C A : 1.11522071554
Swann G P : 1.11305320885
Kumble A : 1.11087424052
Boult T A : 1.10633095918
Wasim Akram : 1.10219881996
Harmison S J : 1.10081137565
Tayfield H J : 1.10006141895
Morkel M : 1.09706545527
Bedser A V : 1.08960934537
Lindwall R R : 1.08899372619
Martin C S : 1.08540268496
Gibbs L R : 1.08507959398
Starc M A : 1.08507182167
Statham J B : 1.08225227935
Siddle P M : 1.08050877635
Ramadhin S : 1.07926837769
Bishop I R : 1.07673330279
Hughes M G : 1.0764324763
Willis R G D : 1.07146304377
Kapil Dev : 1.0695612062
Khan Z : 1.06867119611
Underwood D L : 1.06389457347
Herath H M R K B : 1.06319309253
Saqlain Mushtaq : 1.05737684209
Snow J A : 1.05602019621
Ntini M : 1.05547976935
Vaas W P U J C : 1.05325369159
Titmus F J : 1.05309460369
Srinath J : 1.05254510979
Benaud R : 1.0489232598
Broad S C J : 1.04138873222
Hoggard M J : 1.0393450897
Botham I T : 1.03885050577
Sharma I : 1.03868096151
Caddick A R : 1.02960222057
Sobers G S A : 1.02869528068
Streak H H : 1.02226572929
Iqbal Qasim M : 1.02112341407
Bedi B S : 1.0174016779
Lyon N M : 1.01460309363
Sarfraz Nawaz : 1.01290678096
Southee T G : 1.0107772564
Cairns C L : 1.00709516519
Umar Gul : 1.00247388053
Saeed Ajmal : 1.00145473112
Kallis J H : 0.999855843581
Edwards F H : 0.993162761027
Gough D : 0.993072543767
Harbhajan Singh : 0.987794761302
McDermott C J : 0.987243836463
Thomson J R : 0.98634694143
Vettori D L : 0.973729006952
Flintoff A : 0.969830034973
Alderman T M : 0.969072790985
Mankad M H : 0.95956184483
Morrison D K : 0.953475727773
Kaneria D : 0.947192943748
Lawson G F : 0.943633107938
Abdul Qadir : 0.941622728945
Chandrasekhar B S : 0.941520787827
Panesar M S : 0.927572193748
Shakib Al Hasan : 0.922238795479
Shastri R J : 0.90611651498
Prasanna E A S : 0.888377206043
Mushtaq Ahmed : 0.845621864869
Venkataraghavan S : 0.837602555967

In [24]:
trps

array([ 1277.,   449.,   871.,  2991.,   334.,  1801.,  2001.,  3319.,
        1761.,   886.,   343.,  1039.,   704.,   961.,  2466.,   447.,
        2142.,  4994.,  1536.,  2044.,  5079.,  1249.,  4229.,  4154.,
        2908.,  2419.,  4564.,  4359.,  3650.,  1680.,  5397.,  3221.,
        4357.,  5925.,  5103.,  3773.,  5809.,  3875.,  2823.,  4018.,
        3174.,  6271.,  3681.,  4439.,  2064.,  6420.,  4443.,  2513.,
        5110.,  5106.,  3705.,  4000.,  2043.,  3865.,  1817.,   841.,
        4886.,  1275.,  1898.,  2509.,  5140.,  2540.,  4330.,  4189.,
        2199.,  4721.,  2627.,  4216.,  5557.,  2500.,   156.,  1866.,
        5629.,   372.,  5596.,  3918.,  3855.,  5217.,  5446.,  4980.,
        4238.,  4299.,  4029.,  3889.,  1331.,  3876.,  4262.,  4351.,
        1381.,  2860.,  3313.,  5588.,  5020.,  1485.,  4122.,  3717.,
        5415.,  2239.,  4110.,  3331.,   879.,  6002.,  4382.,  2152.,
        4303.,  2540.,  3401.,   484.,  2050.,  3695.,  4398.,  4122.,
        5902.,  2581.,  4712.,  3877.,  1762.,   984.,  3973.,  2380.,
        3718.,  5224.,  3763.,  4083.,  5880.,  4763.,  2977.,  4879.,
        4228.,  4695.,  4330.,  5365.,  2369.,  4558.,  5350.,  5006.,
        2262.,  4051.,  2495.,  1148.,   861.,  5367.,  2132.,  3757.,
        5145.,  2443.,  2593.,  2808.,  4947.,  2134.,  5032.,  3129.,
        4962.,  2494.,  2326.,  4372.,  5316.,  3325.,  4419.,  6495.,
        1923.,  2931.,  2889.,  2141.,  2014.,  2128.,  3846.,  4231.,
        6317.,  5174.,  1312.,  2023.,  2593.,  4787.,  4268.,  4125.,
        3263.,  2752.,  4756.,  3124.,  2699.,  3097.,  2496.,  4921.,
        2950.,  2568.,  2560.,  4850.,  5964.,  1948.,  1319.,  3840.,
        6218.,  2251.,  3292.,  5087.,  3276.,  2854.,  3590.,  3071.,
        1991.,  5409.,   961.,  4084.,  5355.,  2237.,  2256.,  4674.,
        1646.,  1980.,  3593.,  4490.,  5609.,  2639.,  1873.,  3335.,
        5275.,  4990.,  2907.,  2548.,  2448.,   613.,  2486.,  3649.,
         843.,  2384.,  2025.,  2857.,  3523.,  2141.,  5366.,  2604.,
        4764.,  2839.,   611.,  1980.,  2772.,  2968.,  2588.,  1209.,
        2768.,  5233.,  5278.,  4452.,  1210.,   745.,  3974.,  2103.,
        5099.,  4767.,  2268.,  2798.,  4511.,  2308.,  4364.,  1024.,
        2001.,  4434.,  2620.,  5129.,  2553.,  3404.,  6151.,  2664.,
        2261.,  2670.,  2850.,  2405.,  4115.,  1850.,  2739.,  2390.,
        2500.,  1846.,  5054.,  2423.,  4449.,  2322.,   660.,  3622.,
        3544.,  2099.,  2911.,   869.,   634.,  2159.,  3005.,  3863.,
         985.,  2545.,  2288.,  5258.,  1906.,  3272.,  6347.,  3721.,
         841.,  2230.,  2458.,  2758.,  3445.,   624.,  2543.,  4476.,
        2264.,  2200.,  4646.,   467.,  3464.,  4366.,  4418.,  1018.,
        4760.,  1554.,  2995.,   965.,  4191.,  3004.,   741.,  1774.,
        3117.,  4544.,  1487.,   667.,  2951.,  2445.,   849.,  1045.,
        2579.,  6563.,  2140.,  2487.,  3169.,  2161.,   379.,  2233.,
        2295.,  2605.,  5232.,  2997.,   957.,  2995.,  3032.,  1429.,
        3424.,  2063.,  3409.,  5096.,  2768.,   990.,  2248.,  1130.,
        1087.,  2934.,  1663.,  5351.,  2694.,  2644.,  1163.,  3328.,
         757.,  3322.,  1088.,  2008.,  2220.,  2949.,  3339.,  1132.,
         802.,  1695.,  4530.,  1556.,  2873.,  1531.,  2971.,  2807.,
        2529.,  1789.,  3775.,  2068.,  5107.,  1600.,  2644.,  2130.,
        2177.,  2753.,  2506.,  2283.,  3030.,  1860.,  4220.,  2250.,
        1412.,  3138.,  1884.,  2028.,  2468.,  4162.,   992.,  3239.,
        4797.,  4350.,  1150.,   901.,  2323.,  1861.,  2828.,  3745.,
        2894.,  1461.,  2962.,   688.,   738.,  3147.,  2227.,  4001.,
        2866.,  1448.,   550.,  1242.,  3050.,  2616.,  1225.,  2578.,
        1173.,  3342.,  1921.,  2844.,  1876.,   901.,  2980.,  2395.,
        2339.,  4354.,  2353.,   729.,  2469.,  3262.,  2606.,  4840.,
        1759.,  1922.,  1866.,  4830.,  1928.,  2636.,  1904.,  1879.,
        3098.,  3238.,  1349.,  2967.,  2503.,  1170.,  2760.,  1816.,
        2862.,  4756.,  1469.,  2256.,  3240.,   939.,  3218.,  1900.,
        1650.,  4831.,  2209.,  2526.,  1292.,  5475.,  1696.,  2012.,
        1519.,  1014.,  1820.,  4780.,  1146.,  1845.,  1523.,  1482.,
        1342.,  5779.,  2652.,  2384.,  2140.,  2301.,  1730.,  2097.,
        2938.,  5420.,  4899.,  1879.,  1431.,  3461.,  3366.,  3335.,
        3008.,  1777.,  3516.,  1932.,  2029.,  4455.,  2148.,  3570.,
        1431.,  2268.,  1817.,  2002.,  1594.,  2734.,  5700.,  2120.,
        1305.,  4001.,  2958.,  3995.,  2086.,  1228.,  2265.,  1502.,
        5511.,  1396.,  1234.,  1707.,  3022.,  3557.,  2467.,  3492.,
        3397.,  1779.,  2946.,  2032.,  3044.,  1536.,  1983.,  2717.,
        2658.,  4400.,  4593.,   796.,  2547.,  3348.,  5285.,  1601.,
        2868.,  2703.,  4150.,  1349.,  2095.,  3491.,  2233.,  2216.,
        1536.,  3677.,  2958.,  4856.,  2950.,  1315.,  1416.,  3461.,
        2210.,  2663.,  2320.,  3468.,  4265.,  2860.,  4855.,  1334.,
        1384.,  1760.,  1743.,  2183.,  3703.,  2388.,  4697.,  1753.,
        3343.,  3601.,  1752.,  3011.,  5378.,  1834.,  2340.,  3989.,
        3142.,  3400.,  4124.,  3286.,  2206.,  2243.,  1286.,  2457.,
        2204.,  1885.,  2732.,  1824.,  3862.,  2942.,  2451.,  3143.,
        2437.,  1899.,  5163.,  2920.,  1844.,  1653.,  3075.,  2605.,
        4304.,  1167.,  2792.,   923.,  2861.,  1939.,  1135.,  3419.,
        1784.,  1518.,  1936.,  2862.,  4019.,  2251.,   648.,  2570.,
        2032.,  2955.,  2651.,  3033.,  3490.,  1942.,  1801.,  3366.,
        2358.,  3746.,  1633.,  2957.,  1469.,  2535.,  3916.,  3031.,
        2161.,  1246.,  1970.,  1642.,  5311.,  1878.,  2306.,  1643.,
        1504.,  5057.,  2981.,  2265.,  3349.,  2259.,  2256.,  3446.,
        3197.,  2670.,  4795.,  1998.,  2204.,   755.,  1888.,  2319.,
        3162.,  3565.,  5524.,  2583.,  2284.,  3249.,  2511.,  2818.,
        1460.,   415.,  3027.,  4593.,   799.,  3180.,  3532.,  1646.,
        3803.,  2340.,  2382.,  2025.,  4184.,  2286.,  2556.,  4465.,
        2941.,  2691.,  2015.,  1243.,  3147.,  3420.,  1671.,  2472.,
        2834.,  5957.,  1512.,  3654.,  2790.,  2274.,  1318.,  3516.,
        2469.,  2563.,  2758.,  4019.,  1119.,  3251.,  2678.,  1653.,
        2021.,  1336.,  2049.,  3231.,  5123.,  1932.,   353.,  2512.,
        2040.,  3990.,  1339.])

In [25]:
len(trps)

723