In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df1 = pd.read_csv("records_final_series_ODI_bowlers.csv")

In [3]:
df1.head()

,Player,Country,Mat,Overs,Maidens,Runs,Wickets,4w,Best,Avg,S/R,E/R,Series_Code,H/A,Decade_Index
0,Illingworth R,England,1,8.0,1,50,3,0,Mar-50,16.67,21.33,4.69,193,Away,0
1,Stackpole K R,Australia,1,8.0,0,40,3,0,Mar-40,13.33,21.33,3.75,193,Home,0
2,Mallett A A,Australia,1,8.0,1,34,3,0,Mar-34,11.33,21.33,3.19,193,Home,0
3,McKenzie G D,Australia,1,7.4,0,22,2,0,Feb-22,11.00,30.00,2.20,193,Home,0
4,D'Oliveira B L,England,1,6.0,1,38,1,0,Jan-38,38.00,48.00,4.75,193,Away,0

In [4]:
#df1.sort_values(['Series_Code', 'Mat'], ascending=[True, False], inplace=True)

In [5]:
#df1

In [6]:
series = df1['Decade_Index'].values
number, series_unique = np.unique(series, return_inverse = True)

In [7]:
players = df1['Player'].values
player_names, player_indices = np.unique(players, return_index = True)
player_dict_temp_3 = {}
for i in df1.index:
    if df1["Player"][i] in player_dict_temp_3.keys():
        player_dict_temp_3[df1["Player"][i]] = player_dict_temp_3[df1["Player"][i]] + [i]
    else:
        player_dict_temp_3[df1["Player"][i]] = [i]

In [8]:
player_indices

array([  277,  3170,  1953, ...,  7363, 10371,  8658], dtype=int64)

In [9]:
series_codes = df1['Series_Code'].values
series_list, series_occurances, series_code = np.unique(series_codes, return_index=True, return_inverse = True)
#series_list

In [10]:
series_to_number = {'Australia':0, 'Pakistan':1, 'New Zealand':2, 'West Indies':3, 'England':4, 'India' :5, 'Sri Lanka':6, 'Bangladesh':7, 'Zimbabwe':8, 'South Africa':9, 'Other':10} 
#opposition_country =[]
series_country = []
j = 0
for i in series_occurances:
    home = 0
    away = 0
    j = i
    s_code = df1['Series_Code'][i]
    while 1 != 0:
        #print(j)
        if df1['H/A'][j] == 'Home' and home == 0:
            #print(df['Country'][j])
            country = df1['Country'][j]
            home = home + 1
        if df1['Series_Code'][j]!=s_code or home ==1:
            break    
        j = j + 1 
    if country in series_to_number.keys():
        series_country.append(series_to_number[country])
    else:
        series_country.append(10)

In [11]:
#series_country

In [12]:
#len(series_country)

In [13]:
series_list = list(series_list)

In [14]:
trps = np.zeros(656)

for i in df1.index:
    avg = df1["Avg"][i]
    if not np.isnan(avg):
        s = df1["Series_Code"][i]
        index = np.where(series_list == s)[0]
        #print(index)
        trps[index] += df1["Runs"][i]

In [15]:
trps

array([ 1687.,  1136.,  1090.,   235.,  1089.,   216.,   462.,   642.,
         763.,   832.,   470.,   246.,   302.,  5106.,   303.,   595.,
         988.,   350.,   246.,   942.,   812.,   577.,   546.,   614.,
         682.,   781.,  4144.,   253.,  4780.,   743.,   637.,   689.,
        6353.,   433.,   648.,  1008.,  6293.,   871.,   818.,   604.,
         904.,   526.,   836.,  1300.,   599.,  1336.,  6087.,  1077.,
         212.,   967.,  1155.,   900., 10677.,   532.,  1570.,   711.,
        6206.,  1227.,   884.,   453.,   727.,  1103.,  1273.,   479.,
         440.,  1259.,  1933.,  1429.,  7325.,  3864.,  1521.,   982.,
        1342.,   968.,  1368.,   734.,  1688.,  5976.,  1246.,   580.,
        1510.,   673.,   833.,  1306.,   680.,   793.,  2365.,  1544.,
        1835.,  1691.,  2680.,  5133.,  2234.,  1060.,  2094.,   986.,
       11543.,   989.,  2601.,  5037.,   315.,  1319.,  1843.,  1805.,
         314.,   202.,   901.,  1848.,  1862.,  1416.,   330.,  5456.,
         172.,  1565.,  1729.,   825.,  1301.,  2363.,  7049.,   414.,
        1322.,  5518.,  2411.,  3026.,   745.,   978.,   695.,   996.,
        5309.,  1001.,   488.,  1310.,  1126.,  1154.,  2030.,  1239.,
        2740.,  1145.,   872.,  4584.,  1527.,   991., 14201.,   903.,
        2235.,  1063.,   371.,   715.,  4649.,   669.,  2418.,   738.,
        1246.,  2295.,  3061.,   208.,   643.,  1967.,  1037.,  1999.,
        1336.,  1133.,   820.,  3019.,  4192.,   621.,  4840.,   871.,
         921.,  1439.,  2058.,  3152.,  1445.,  3013.,   242.,  1643.,
         576.,  1598.,  3585.,  2128.,  1024.,  2592.,  5483.,  2032.,
         866.,  2492.,  1113.,  2189.,  1131.,  2161.,  1131.,   932.,
        3077.,   646.,  1922.,  1684.,  5271.,  2621.,   959., 13592.,
        1966.,  1692.,  2868.,   409.,   932.,  2560.,  1258.,  1819.,
        2646.,  3795.,   898.,  2361.,  1299.,   324.,   998.,  5253.,
        4564.,   153.,  1907.,   566.,  3210.,  2381.,  1185.,  3529.,
        1080.,   330.,  2260.,  1872.,  1802.,   933.,  1248.,  3093.,
        2894.,  2144.,  2824.,   614.,  1074.,  6002.,  1909.,  1724.,
         698.,  2236.,  3036.,  3712.,  2967.,  1219.,  2434.,  2385.,
        1680.,  2182.,  1083.,  2960.,  1376.,  2589.,  1249.,  1940.,
        7264.,  2710.,  2247.,   260.,  2761.,  2760.,  2280.,  2948.,
       15534.,  2843.,  1675.,   915.,  1067.,  2250.,   792.,  2207.,
         920.,  2391.,  1535.,  1966.,  5637.,  1228.,  3176.,   974.,
        2077.,  2542.,  2326.,  3127.,   967.,  2591.,  2585.,  3434.,
        1218.,  1253.,  1090.,  3422.,  2631.,  2289.,  1252.,  2239.,
        2505.,  1222.,  5612.,  1936.,  1911.,   914.,  2338.,   984.,
        2941.,  2605.,  3263.,  2584.,  3864.,  1288.,  2001.,  3674.,
        2747.,   970.,  2221.,  5406.,  2759.,  1874.,  2411.,  3356.,
        2878.,  1256.,  1010.,  1945.,  1038.,  4410.,   851.,  2767.,
         724.,  3396.,  2080.,  1765.,  1207.,  2078.,  6107.,  1978.,
       19168.,  2547.,  2061.,  3136.,  1183.,  1182.,  3234.,   701.,
        2263.,  1775.,  4069.,   733.,    85.,  1707.,  2227.,  2205.,
        6218.,  1835.,  2634.,  1995.,  1171.,  2761.,  1826.,  1371.,
         569.,   978.,  2668.,  4972.,  2232.,   714.,  1024.,   373.,
        4378.,  2418.,   854.,   355.,  1433.,   936.,  1283.,   157.,
        4881.,  2032.,  2856.,  2296.,  1182.,  3027.,  1782.,  1319.,
        1103.,  2906.,  3086.,  1136.,  1749.,  3191.,  1496.,  1378.,
        2347.,  7193.,  2352.,  2291.,  1098.,  2386.,   894.,  2279.,
         803.,   835.,  2068.,  2174.,  1419.,  2530.,  1926.,  1701.,
        2508.,  1070.,  1776.,  5429.,  1524.,  1682.,  1292.,  1424.,
        6217.,  1896.,  1609.,  1806.,  1435.,  1199.,  1175., 19675.,
         900.,  1069.,  1129.,  1084.,  1158.,   928.,  3408.,  1368.,
        2874.,  1825.,  2188.,  2533.,  1267.,  1669.,   820.,   830.,
        2116.,  1988.,  5225.,  1921.,   811.,  2155.,   819.,  1692.,
        1963.,  5891.,  2234.,   768.,  1652.,  1429.,  1228.,   727.,
        1125.,  1016.,  1367.,  2196.,  1187.,  1401.,  1105.,  2361.,
         695.,  1198.,  2460.,  2099.,  1794.,  1723.,  2257.,  1743.,
         695.,  1184.,  1319.,  2153.,  2357.,  3213.,  1621.,  5996.,
        3040.,  1680.,  1317.,   682.,  1007.,  2151.,  3099.,  2160.,
        1241.,  1961.,  1560.,  1163.,  2251.,  1680.,  2294.,  2754.,
        2856.,  2312.,  1278.,  2230.,  2314.,  1431.,  1237.,   190.,
        2235.,  1035.,  1982.,  1325.,  2059.,  3406.,  2262.,   702.,
       19692.,  1410.,  1736.,  2068.,  2148.,   740.,  1600.,  1882.,
        2057.,  1293.,   871.,  2238.,  1159.,  1233.,  1917.,  2522.,
         834.,  2091.,  1528.,  7107.,  1366.,  1105.,  3138.,  2105.,
        1575.,   813.,  1387.,  2199.,  2264.,  1607.,  1026.,  1007.,
        1820.,  1099.,  1505.,  2162.,  1149.,  2045.,  1219.,  1135.,
        2012.,   914.,  1316.,  1372.,  5425.,  2645.,  1968.,  1959.,
        1773.,  1103.,  1563.,  3236.,  1337.,  1950.,   770.,  1414.,
        1218.,  1023.,  2227.,  1418.,  2471.,  2747.,  1171.,  4878.,
        1225.,  1698.,   605.,  1424.,  1051.,  1220.,  1034.,  3126.,
        1667.,  1267.,  1431.,   934.,  2579.,  2472.,  1816.,  3337.,
        2514.,  2979.,  2615.,  2216.,   948., 22057.,  1193.,  1123.,
        3045.,  1406.,  1214.,   886.,  2410.,  1124.,  1331.,  2289.,
        1169.,  2667.,  1010.,  1259.,  1865.,  1553.,  2755.,   930.,
        1233.,  2674.,  3911.,   554.,  2320.,  2018.,  2375.,  1482.,
        2690.,  1387.,  2169.,  2135.,  1585.,  1340.,  2467.,  1750.,
        2385.,   965.,  2154.,  1143.,  1112.,  1429.,  2356.,  1333.,
        6256.,  1743.,  2208.,  2153.,  2380.,  2097.,  1674.,  1272.,
        1519.,  1232.,   882.,  2157.,  2398.,  2434.,  2478.,  2541.])

In [16]:
arpspc = np.zeros(11)
tmpc = np.zeros(11)
for i in range(len(trps)):
    tmpc[series_country[i]] += df1['Mat'][series_occurances[i]]
    arpspc[series_country[i]] += trps[i]

In [17]:
arpc=arpspc/tmpc

In [18]:
avr_average = np.average(arpc)

In [19]:
weights_arpc = np.average(arpc)/arpc

In [20]:
weights_arpc

array([0.89970923, 1.09182535, 1.00160753, 1.05964208, 0.90486512,
       0.8976751 , 1.15058691, 1.13148148, 1.15612125, 0.93121552,
       0.89313509])

In [21]:
weighted_runs_arr = []
for i in df1.index:
    #print(series_code[i])
    w = weights_arpc[series_country[series_code[i]]]
    weighted_runs_arr.append(df1['Runs'][i]*w)
#weighted_runs_arr

In [22]:
wtrps = np.zeros(656)
twps = np.zeros(656)
tops = np.zeros(656)
tbps = np.zeros(656)
balls = np.zeros(len(df1.index))
for i in df1.index:
    avg = df1["Avg"][i]
    if not np.isnan(avg):
        wtrps[series_code[i]] += weighted_runs_arr[i]
        twps[series_code[i]] += df1["Wickets"][i]
        balls[i] = math.floor(df1["Overs"][i])*6 + (df1["Overs"][i]- math.floor(df1["Overs"][i]))*10
        tbps[series_code[i]] += balls[i]
        
    tops[series_code[i]] += df1["Overs"][i]

bowl=np.zeros(len(df1.index))
for i in df1.index:
    bowl[i] = (wtrps[series_code[i]] - weighted_runs_arr[i])/(twps[series_code[i]]-df1["Wickets"][i])
    avg = df1["Avg"][i]
    bowl[i] = bowl[i]/avg
    if np.isnan(avg) or avg == 0:
        bowl[i] = 0

args=np.argsort(bowl)[-15:]
args

runs_metric_20 = []
player_dict_temp_20 = {}


for i in player_names:
    no_of_wickets=0
    no_balls = 0
    spf_sum = 0
    no_series = 0
    for j in player_dict_temp_3[i]:
        spf_sum += bowl[j]
        no_series += 1
        no_of_wickets += df1["Wickets"][j]
        #no_balls += balls[j]
    #if(no_balls > 4000):    
    if(no_of_wickets > 100): 
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_20[i] = spf_sum/no_series
    
s_20 = [(k,player_dict_temp_20[k]) for k in sorted(player_dict_temp_20, key=player_dict_temp_20.get, reverse = True)]
s =0
for k,v in s_20:
    s += v
    print(k,":",v)
a_2 = s/len(s_20)

bowl1=np.zeros(len(df1.index))
for i in df1.index:
    bowl1[i] = (wtrps[series_code[i]] - weighted_runs_arr[i])/(tops[series_code[i]]-df1["Overs"][i])
    e_r = df1["E/R"][i]
    bowl1[i] = bowl1[i]/e_r
    if e_r == 0:
        bowl1[i] = 0
bowl1[:14]

runs_metric_30 = []
player_dict_temp_30 = {}


for i in player_names:
    no_of_wickets1=0
    spf_sum1 = 0
    no_series1 = 0
    no_balls = 0
    for j in player_dict_temp_3[i]:
        spf_sum1 += bowl1[j]
        no_series1 += 1
        no_of_wickets1 += df1["Wickets"][j]
        #no_balls += balls[j]
    #if(no_balls > 4000):  
    if(no_of_wickets1 > 100): 
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_30[i] = spf_sum1/no_series1
    
s_30 = [(k,player_dict_temp_30[k]) for k in sorted(player_dict_temp_30, key=player_dict_temp_30.get, reverse = True)]

s =0
for k,v in s_30:
    s += v
    print(k,":",v)
a_3 = s/len(s_30)

bowl2=np.zeros(len(df1.index))
for i in df1.index:
    bowl2[i] = (tbps[series_code[i]] - balls[i])/(twps[series_code[i]]-df1["Wickets"][i])
    s_r = df1["S/R"][i]
    bowl2[i] = bowl2[i]/s_r
    if np.isnan(s_r) or s_r == 0:
        bowl2[i] = 0

runs_metric_40 = []
player_dict_temp_40 = {}


for i in player_names:
    no_of_wickets2=0
    spf_sum2 = 0
    no_series2 = 0
    no_balls = 0
    for j in player_dict_temp_3[i]:
        spf_sum2 += bowl2[j]
        no_series2 += 1
        no_of_wickets2 += df1["Wickets"][j]
        #no_balls += balls[j]
    #if(no_balls > 4000):
    if(no_of_wickets2 > 100):    
        #runs_metric_20.append(runs/no_of_matches)
        player_dict_temp_40[i] = spf_sum2/no_series2
    
s_40 = [(k,player_dict_temp_40[k]) for k in sorted(player_dict_temp_40, key=player_dict_temp_40.get, reverse = True)]

s_1 =0
for k,v in s_40:
    s_1 += v
    print(k,":",v)
a_4 = s_1/len(s_40)

avg = [a_2, a_3, a_4]
w = np.average(avg)/avg

player_dict_temp_50 = {}

for i in player_dict_temp_40.keys():
    player_dict_temp_50[i] = (w[0]*player_dict_temp_20[i]+w[1]*player_dict_temp_30[i]+w[2]*player_dict_temp_40[i])/np.sum(w)
    
s_50 = [(k,player_dict_temp_50[k]) for k in sorted(player_dict_temp_50, key=player_dict_temp_50.get, reverse = True)]

for k,v in s_50:
    print(k,":",v)

for k,v in s_50:
    first = player_indices[np.where(player_names == k)[0][0]]
    #print(first,"->",df[' Decade_Index '][first])
    if df1['Decade_Index'][first] >= 4:
        print(k,":",v)

In [23]:
def bowl_calc(param):
    bowl1=np.zeros(len(df1.index))
    for i in df1.index:
        bowl1[i] = (wtrps[series_code[i]] - weighted_runs_arr[i])/(tops[series_code[i]]-df1["Overs"][i])
        e_r = df1[param][i]
        bowl1[i] = bowl1[i]/e_r
        if np.isnan(e_r) or  e_r == 0:
            bowl1[i] = 0
    return bowl1

In [24]:
def name(bowl, x):
    runs_metric = []
    player_dict_temp = {}


    for i in player_names:
        no_of_wickets=0
        spf_sum = 0
        no_series = 0
        no_balls = 0
        for j in player_dict_temp_3[i]:
            spf_sum += bowl[j]
            no_series += 1
            no_of_wickets += df1["Wickets"][j]
            #no_balls += balls[j]
        #if(no_balls > 4000):
        if(no_of_wickets > x):    
            #runs_metric_20.append(runs/no_of_matches)
            player_dict_temp[i] = spf_sum/no_series

    sum_values =sum(player_dict_temp.values())
    '''for k,v in s:
        sum_values += v
        #print(k,":",v)'''
    a = sum_values/len(player_dict_temp) 
    return player_dict_temp, a

In [25]:
def final_players(x):
    bowl = bowl_calc("Avg")
    bowl1 = bowl_calc("E/R")
    bowl2 = bowl_calc("S/R")
    player_dict_temp_25, a_25 = name(bowl, x)
    player_dict_temp_35, a_35 = name(bowl1, x)
    player_dict_temp_45, a_45 = name(bowl2, x)
    avg_temp = [a_25, a_35, a_45]
    w_temp = np.average(avg_temp)/avg_temp

    player_dict_temp_55 = {}

    for i in player_dict_temp_45.keys():
        player_dict_temp_55[i] = (w_temp[0]*player_dict_temp_25[i]+w_temp[1]*player_dict_temp_35[i]+w_temp[2]*player_dict_temp_45[i])/np.sum(w)

    s_55 = [(k,player_dict_temp_55[k]) for k in sorted(player_dict_temp_55, key=player_dict_temp_55.get, reverse = True)]
    return s_55

s_55 = final_players(50)
s_51 = final_players(150)
players_list = {}
for country in series_to_number.keys():
    #print(country)
    count=0
    players_list[country] = list()
    for k,v in s_51:
        first = player_indices[np.where(player_names == k)[0][0]]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
        if df1['Country'][first] == country:
            player = str(k)+':'+str(v)
            players_list[country] = players_list[country]+[player]
            count += 1
        if count == 5:
            break
    if count < 5:
        players_list[country] = list()
        count = 0
        for k,v in s_55:
            first = player_indices[np.where(player_names == k)[0][0]]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
            if df1['Country'][first] == country:
                player = str(k)+':'+str(v)
                players_list[country] = players_list[country]+[player]
                count += 1
            if count == 5:
                break
for k in players_list.keys():
    if k == "Other":
        break
    print(k)
    for i in players_list[k]:
        print(i)
    print("\n")

players_list = {}
for country in series_to_number.keys():
    #print(country)
    count=0
    players_list[country] = list()
    for k,v in s_51:
        first = player_indices[np.where(player_names == k)[0][0]]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
        if df1['Country'][first] == country and df1['Decade_Index'][first] >= 4:
            player = str(k)+':'+str(v)
            players_list[country] = players_list[country]+[player]
            count += 1
        if count == 5:
            break
    if count < 5:
        players_list[country] = list()
        count = 0
        for k,v in s_55:
            first = player_indices[np.where(player_names == k)[0][0]]
        #print(first)
        #print(first,"->",df[' Decade_Index '][first])
            if df1['Country'][first] == country and df1['Decade_Index'][first] >= 4:
                player = str(k)+':'+str(v)
                players_list[country] = players_list[country]+[player]
                count += 1
            if count == 5:
                break
for k in players_list.keys():
    if k == "Other":
        break
    print(k)
    for i in players_list[k]:
        print(i)
    print("\n")

In [26]:
s_55 = final_players(50)
s_51 = final_players(150)

E:\Anaconda\lib\site-packages\ipykernel_launcher.py:6: RuntimeWarning: divide by zero encountered in double_scalars

In [34]:
def print_country_lists(start_decade):
    players_list = {}
    for country in series_to_number.keys():
        #print(country)
        count=0
        players_list[country] = list()
        for k,v in s_51:
            first = player_indices[np.where(player_names == k)[0][0]]
            #print(first)
            #print(first,"->",df[' Decade_Index '][first])
            if df1['Country'][first] == country and df1['Decade_Index'][first] >= start_decade:
                player = str(k)+':'+str(v)
                players_list[country] = players_list[country]+[player]
                count += 1
            if count == 5:
                break
        if count < 5:
            players_list[country] = list()
            count = 0
            for k,v in s_55:
                first = player_indices[np.where(player_names == k)[0][0]]
            #print(first)
            #print(first,"->",df[' Decade_Index '][first])
                if df1['Country'][first] == country and df1['Decade_Index'][first] >= start_decade:
                    player = str(k)+':'+str(v)
                    players_list[country] = players_list[country]+[player]
                    count += 1
                if count == 5:
                    break
    for k in players_list.keys():
        if k == "Other":
            break
        print(k)
        for i in players_list[k]:
            print(i)
        print("\n")

In [35]:
print_country_lists(0)

Australia
Johnson M G:1.3815468077793245
Bracken N W:1.3794290980038881
Lee B:1.356377547913768
McGrath G D:1.337629567850586
McDermott C J:1.2173478005761462


Pakistan
Saeed Ajmal:1.5655556707199536
Saqlain Mushtaq:1.4802732064558366
Shoaib Akhtar:1.4274659201409632
Wasim Akram:1.3675771697323083
Waqar Younis:1.3209364444330416


New Zealand
Mills K D:1.3883933419629175
Oram J D P:1.3032763981403555
Vettori D L:1.2250804004329532
Hadlee R J:1.1986584996542793
Southee T G:1.14293858987966


West Indies
Bravo D J J:1.2521211233528453
Ambrose C E L:1.2359503854457756
Walsh C A:1.1372213323535876
Marshall M D:1.1203622223461411
Gayle C H:1.0861712978976628


England
Woakes C R:1.353551178186593
Flintoff A:1.2966637496656928
Plunkett L E:1.2570953459948844
Finn S T:1.24332928897081
Rashid A U:1.2265038055502036


India
Agarkar A B:1.2700044528523404
Pathan I K:1.2497069197156498
Nehra A:1.246249856912438
Khan Z:1.2379587877682035
Srinath J:1.1570641559204227


Sri Lanka
Muralitharan M:1.4396337221346602
Malinga S L:1.36499462730185
Vaas W P U J C:1.3200418819232809
Fernando C R D:1.2784618706619864
Kulasekara K M D N:1.2433624647673926


Bangladesh
Mustafizur Rahman:2.0685143650271565
Shakib Al Hasan:1.3530178786145044
Mahmudullah:1.2253736160426887
Abdur Razzak:1.2127965883729188
Rubel Hossain:1.2043455992329417


Zimbabwe
Mupariwa T:1.2286154021132392
Streak H H:1.224829641445443
Price R W:1.1802269334528646
Brandes E A:1.050705195266118
Strang P A:1.0388950083814399


South Africa
Steyn D W:1.465844149274983
Pollock S M:1.3828233969217276
Morkel M:1.3622556809414592
Ntini M:1.3324375263026331
Donald A A:1.318213994801173

In [36]:
print_country_lists(4)

Australia
Starc M A:1.6691568635562397
Bollinger D E:1.5566277316478672
Tait S W:1.460323202208161
Hazlewood J R:1.4521561289790192
Clark S R:1.4433709656274791


Pakistan
Saeed Ajmal:1.5655556707199536
Shoaib Akhtar:1.4274659201409632
Umar Gul:1.2497451078984265
Abdul Razzaq:1.2014840676751568
Shahid Afridi:1.1960967632869188


New Zealand
Bond S E:1.831382175339484
Henry M J:1.7474730778024836
Boult T A:1.6510473907690295
Santner M J:1.5768595300402708
Anderson C J:1.5027784008174307


West Indies
Narine S P:1.4883560990323024
Taylor J E:1.352452328421477
Rampaul R:1.3425899358142872
Bravo D J J:1.2682752666147041
Roach K A J:1.2582768758543845


England
Woakes C R:1.353551178186593
Flintoff A:1.2966637496656928
Plunkett L E:1.2570953459948844
Finn S T:1.24332928897081
Rashid A U:1.2265038055502036


India
Agarkar A B:1.2700044528523404
Pathan I K:1.2497069197156498
Nehra A:1.246249856912438
Khan Z:1.2379587877682035
Harbhajan Singh:1.1503194842939528


Sri Lanka
Mendis B A W:1.563637960310367
Senanayake S M S M:1.539783830202885
Lakmal R A S:1.4998787863161287
Maharoof M F:1.390199036586742
Malinga S L:1.3827705115179187


Bangladesh
Mustafizur Rahman:2.0685143650271565
Shakib Al Hasan:1.3530178786145044
Mahmudullah:1.2253736160426887
Abdur Razzak:1.2127965883729188
Rubel Hossain:1.2043455992329417


Zimbabwe
Mupariwa T:1.2286154021132392
Price R W:1.1802269334528646
Brent G B:1.0085018334264373
Panyangara T:0.9282252893956141
Utseya P:0.9083524686534921


South Africa
Steyn D W:1.465844149274983
Pollock S M:1.3828233969217276
Morkel M:1.3622556809414592
Ntini M:1.3324375263026331
Kallis J H:1.1308646535460054

In [31]:
def print_alltime_lists(start_decade):    
    for k,v in s_51:
        first = player_indices[np.where(player_names == k)[0][0]]
        #print(first,"->",df[' Decade_Index '][first])
        if df1['Decade_Index'][first] >= start_decade:
            print(k,":",v)

In [32]:
print_alltime_lists(0)

Saeed Ajmal : 1.5655556707199536
Saqlain Mushtaq : 1.4802732064558366
Steyn D W : 1.465844149274983
Muralitharan M : 1.4396337221346602
Shoaib Akhtar : 1.4274659201409632
Mills K D : 1.3883933419629175
Pollock S M : 1.3828233969217276
Johnson M G : 1.3815468077793245
Bracken N W : 1.3794290980038881
Wasim Akram : 1.3675771697323083
Malinga S L : 1.36499462730185
Morkel M : 1.3622556809414592
Lee B : 1.356377547913768
McGrath G D : 1.337629567850586
Shakib Al Hasan : 1.3366217603048678
Ntini M : 1.3324375263026331
Waqar Younis : 1.3209364444330416
Vaas W P U J C : 1.3200418819232809
Donald A A : 1.318213994801173
Oram J D P : 1.3032763981403555
Flintoff A : 1.2799214762293223
Fernando C R D : 1.2784618706619864
Agarkar A B : 1.2700044528523404
Imran Khan : 1.2572147063457957
Bravo D J J : 1.2521211233528453
Umar Gul : 1.2497451078984265
Pathan I K : 1.2497069197156498
Nehra A : 1.246249856912438
Kulasekara K M D N : 1.2433624647673926
Khan Z : 1.2379587877682035
Ambrose C E L : 1.2359503854457756
Vettori D L : 1.2250804004329532
McDermott C J : 1.2173478005761462
Warne S K : 1.216963312673913
Streak H H : 1.2096825911434002
Anderson J M : 1.2035308666152478
Abdul Razzaq : 1.2014840676751568
Abdur Razzak : 1.1986789232768493
Hadlee R J : 1.1986584996542793
Shahid Afridi : 1.1960967632869188
Broad S C J : 1.1947096927021963
Mashrafe Mortaza : 1.1886624612749763
Srinath J : 1.1570641559204227
Harbhajan Singh : 1.1503194842939528
Southee T G : 1.14293858987966
Walsh C A : 1.1372213323535876
Gough D : 1.1365898456222845
Kallis J H : 1.1308646535460054
Kapil Dev : 1.126878428780555
Jadeja R A : 1.121733216532312
Marshall M D : 1.1203622223461411
Aaqib Javed : 1.1035115815770804
Kumble A : 1.0999553867929834
Gayle C H : 1.0861712978976628
Prabhakar M M : 1.086154650713939
Klusener L : 1.0715256701080618
Prasad B K V : 1.065454167676053
Chandana U D U : 1.0606914409462658
Cairns C L : 1.0485366161313192
Mushtaq Ahmed : 1.0444621137958874
Jayasuriya S T : 1.0288640147389148
Hooper C L : 1.0078518733949176
Harris C Z : 0.9800652395368693
Waugh S R : 0.9180160539917734

In [37]:
print_alltime_lists(4)

Saeed Ajmal : 1.5655556707199536
Steyn D W : 1.465844149274983
Shoaib Akhtar : 1.4274659201409632
Mills K D : 1.3883933419629175
Pollock S M : 1.3828233969217276
Johnson M G : 1.3815468077793245
Bracken N W : 1.3794290980038881
Malinga S L : 1.36499462730185
Morkel M : 1.3622556809414592
Lee B : 1.356377547913768
Shakib Al Hasan : 1.3366217603048678
Ntini M : 1.3324375263026331
Oram J D P : 1.3032763981403555
Flintoff A : 1.2799214762293223
Fernando C R D : 1.2784618706619864
Agarkar A B : 1.2700044528523404
Bravo D J J : 1.2521211233528453
Umar Gul : 1.2497451078984265
Pathan I K : 1.2497069197156498
Nehra A : 1.246249856912438
Kulasekara K M D N : 1.2433624647673926
Khan Z : 1.2379587877682035
Vettori D L : 1.2250804004329532
Anderson J M : 1.2035308666152478
Abdul Razzaq : 1.2014840676751568
Abdur Razzak : 1.1986789232768493
Shahid Afridi : 1.1960967632869188
Broad S C J : 1.1947096927021963
Mashrafe Mortaza : 1.1886624612749763
Harbhajan Singh : 1.1503194842939528
Southee T G : 1.14293858987966
Kallis J H : 1.1308646535460054
Jadeja R A : 1.121733216532312
Gayle C H : 1.0861712978976628
Klusener L : 1.0715256701080618